<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<script src="../JS/HttpHandler.js"></script>
</head>
<body>
<%
let loggedIn = isset(typeof user);
function isActive(type)
{
    if(!isset(typeof MENU_SITE)) return "menu_li";
    if(MENU_SITE == type)
        return "menu_li menu_active";
    return "menu_li";
}
%>
<div id="menu">
    <div id="menu_content" class="maxWidth">
        <div id="menu_logo">
            <img src="./images/<%= logo %>" alt="Logo">
        </div>
        <ul>

            <li class="<%= isActive("HOME") %>"><a href="/" >
            <svg version="1.1" x="0px" y="0px" width="100px"
                height="100px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
            <g id="Layer_2">
                <path class="st0" d="M50,91.531c-32.5,0-34.313-13.438-34.313-16.875s1.5-7.063,1.5-7.063c-13.875-4-13-16.688-13-16.688
                    s-1.063-7.375,4.875-12.438c7.604-6.482,12.688-13.063,21.125-21.625S50,8.469,50,8.469s11.375-0.188,19.813,8.375
                    s13.521,15.143,21.125,21.625c5.938,5.063,4.875,12.438,4.875,12.438s0.875,12.688-13,16.688c0,0,1.5,3.625,1.5,7.063
                    S82.5,91.531,50,91.531z"/>
                <path class="st0" d="M82.813,67.594c0,0-3.792-6.998-4.875-9.748s-4.082-8.583-26.583-8.583c-22.5,0-28.333,4.334-29.917,7.667
                    s-0.75,4.912-4.25,10.664"/>
                <path class="st1" d="M55.563,64.844c0,0,1.333,3-2.084,3c-3.416,0-3.369-2.583-4.041-2.583c-0.672,0-0.625,2.583-4.042,2.583
                    s-2.083-3-2.083-3"/>
            </g>
            </svg>
            <span>HOME</span></a>
            </li>

            <li class="<%= isActive("FORUM") %>"><a href="#">
                <svg x="0px" y="0px"
                    width="100px" height="100px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
                <path class="st0" d="M10.295,70.456c0,0,0-55.117,0-55.678h79.41v55.678H76.531v14.766L59.902,70.456H10.295z"/>
                </svg>
            <span>FORUM</span></a>
            </li>

            <li class="<%= isActive("VOTE") %>"><a href="vote">
                <svg x="0px" y="0px"
                    width="100px" height="100px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
                <path class="st2" d="M63.801,47.937"/>
                <path class="st0" d="M39.678,46.417l1.202-27.615c0,0-0.803-7.228,7.227-7.228c8.029,0,7.327,7.327,7.327,7.327v27.605h21.674
                    c0,0,6.325-0.001,6.325,6.324c0,6.324-2.878,28.689-2.878,28.689s-1.737,7.454-6.875,6.875l-45.649-5.013"/>
                <line class="st1" x1="39.678" y1="46.417" x2="28.031" y2="46.417"/>
                </svg>
            <span>VOTE</span></a>
            </li>

            <li class="<%= isActive("PLAY") %>"><a href="play">
            <svg x="0px" y="0px"
                width="100px" height="100px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
            <polygon class="st0" points="88.93,11.011 74.851,11.012 31.929,57.44 24.488,50 19.778,57.067 26.184,63.478 11.071,82.266
                14.374,85.564 17.796,88.989 36.465,73.759 42.892,80.183 50,75.512 42.497,68.011 88.928,25.088 "/>
            </svg>
            <span>PLAY</span></a>
            </li>

            <li class="<%= isActive("RANKING") %>"><a href="ranking">
                <svg x="0px" y="0px" width="100px"
                    height="100px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
                <g id="Layer_1">
                    <path class="st2" d="M45.904,76.568"/>
                    <polyline class="st0" points="45.854,56.029 45.854,76.1 32.021,76.1 32.021,91.154 50.875,91.154 50.313,91.154 69.166,91.154
                        69.166,76.1 55.333,76.1 55.333,56.029 	"/>
                    <line class="st1" x1="45.854" y1="76.1" x2="55.333" y2="76.1"/>
                </g>
                <g id="Layer_2">
                    <path class="st0" d="M50.594,8.846H31.74c0,0,0,0,0,23.918c0,23.919,18.854,24.294,18.854,24.294s18.854-0.375,18.854-24.294
                        c0-23.918,0-23.918,0-23.918H50.594z"/>
                    <path class="st0" d="M68.259,42.167c0,0,15.352,1.947,15.352-12.499s0-17.353,0-17.353H69.447"/>
                    <path class="st0" d="M31.74,42.168c0,0-15.352,1.945-15.352-12.499c0-14.445,0-17.353,0-17.353H31.74"/>
                </g>
                </svg>
                <span>RANKING</span></a>
            </li>
            <%
            if(!isLoggedIn())
            {
            %>
            <li class="<%= isActive("SIGN UP") %>"><a href="register">
            <svg x="0px" y="0px"
	            width="100px" height="100px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
                <path class="st0" d="M9.478,90.522h14.445c0,0,55.135-55.135,61.839-61.837c6.701-6.703,6.087-7.699-0.33-14.115
	c-6.42-6.419-7.413-7.033-14.115-0.33C64.612,20.943,9.478,76.079,9.478,76.079V90.522z"/>
                <line class="st0" x1="63.497" y1="22.059" x2="77.942" y2="36.504"/>
            </svg>
            <span>SIGN UP</span></a>
            </li>
            <li class="<%= isActive("LOGIN") %>"><a href="login">
            <svg x="0px" y="0px"
                width="100px" height="100px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
            <line class="st0" x1="83.845" y1="14.047" x2="43.083" y2="54.81"/>
            <circle class="st0" cx="30.185" cy="67.71" r="18.244"/>
            <line class="st0" x1="76.229" y1="21.665" x2="88.059" y2="33.495"/>
            <line class="st0" x1="66.118" y1="32.333" x2="81.282" y2="47.497"/>
            </svg>
            <span>LOGIN</span></a>
            </li>
            <%
            }else
            {
                var users = getUserCharacters();
                let img = "";
                if(users.length == 0)
                    img = "./images/mushroom.png";
                else
                    img = "./characters/"+users[0].name+".chr";
            %>
            <li class="<%= isActive("DASHBOARD") %>"><a href="dashboard">
            <div class="dashboardLogo <%= users.length == 0 ? "centerLogoDashboard" : "" %>"><img src="<%= img %>"></img></div>
            <span class="<%= isAdmin() ? "isAdmin" : "" %>">DASHBOARD</a>
            </li>
            <%
            }
            %>
        </ul>
        <div id="search_menu">
            <form id="search_menu_form">
                <input autocomplete="off" name="search" placeholder="Search..." id="search_menu_input" />
                <div id="search_btn_menu"><i class="fas fa-search"></i></div>

            </form>
        </div>
        <div id="search_result_menu" class="maxWidth">
        </div>
    </div>
    <script>
        window.onload = ()=>
        {
            let search_result_menu = document.getElementById("search_result_menu");
            let cats = {};
            let form = new FormElement("search_menu_form");
            let error = new ErrorElement("loginError");
            let menu_input = document.getElementById("search_menu_input");
            let search_shows = false;
            let menu = document.getElementById("menu");
            /*
            menu_input.addEventListener("keyup",(e)=>{
                if(!search_shows)
                {
                    document.getElementById("search_result_menu").style.top = "5.5em";
                    search_shows = true;
                }
                if(menu_input.value.length == 0) return;
                form.submit();
            },false);
            */
            document.getElementById("search_btn_menu").addEventListener("click",()=>
            {
                if(menu_input.value.length == 0) return;
                form.submit();
            },false);
            let place = window.scrollY > 90;
            let lp = false;
            setWindowStyle(menu.style,place);
            function setWindowStyle(style,place)
            {
                if((place && lp) || (!place && !lp)) return;
                lp = place;
                if(place)
                {
                    style.background="<%= palette.fontColorDark %>";
                    style.height="4em";
                    style.paddingTop="1em";
                }
                else
                {
                    style.background="transparent";
                    style.paddingTop="2.4em";
                }
            }
            document.addEventListener("scroll",(e)=>
            {
                let style = menu.style;
                setWindowStyle(style,window.scrollY > 90);

            });
            function createCategory(name)
            {
                if(cats[name])
                {
                    cats[name].innerHTML = "";
                }
                let element = document.createElement("div");
                element.className = "category_search_menu";
                element.innerHTML = "<h5 class=\"category_search_menu_title\">"+name+"</h5>";
                search_result_menu.appendChild(element);
                cats[name] = element;
            }
            function addToCategory(cat,data)
            {
                let element = document.createElement("div");
                let h4 = document.createElement("h4");
                let image = document.createElement("div");
                let a = document.createElement("a");
                a.className = "search_menu_item_url";
                image.className = "search_menu_item_image";
                element.className = "search_menu_item";

                h4.innerHTML = data.name;
                image.style.background = "url("+data.imageUrl+") no-repeat";
                image.style.backgroundSize = "contain";
                image.style.backgroundPosition = "50% 50%";
                a.href = data.url;
                element.appendChild(image);
                element.appendChild(h4);
                a.appendChild(element);
                cats[cat].appendChild(a);
            }
            function menuData(item)
            {
                let url = "/"+item;
                if(item == "home")
                    url = "/";
                if(item == "sign up")
                    url = "/register";

                return {name:item,imageUrl:"images/logo.png",url:url};
            }
            function playerData(item)
            {
                return {name:item.name,imageUrl:"characters/"+item.name+".chr",url:"/player/"+item.name};
            }
            function emptyData(item)
            {
                return {name:item.name,imageUrl:"",url:""};
            }
            function getCatData(cat,item)
            {
                if(cat == "pages") return menuData(item);
                if(cat == "players") return playerData(item);
                if(cat == "empty") return playerData(item);
            }
            function emptyCategory(cat)
            {
                cats = {};
                search_result_menu.innerHTML = "";
            }
            form.onSubmit({preventDefault:true,body:true},(body,e)=>
            {
                if(menu_input.value.length == 0) return;
                if(!search_shows)
                {
                    document.getElementById("search_result_menu").style.top = "5.5em";
                    search_shows = true;
                }
                body.category = "all";

                let url = new Url("IO/search/",body);
                HttpHandler.postData(url,(response)=>
                {
                    emptyCategory();
                    for(let key in response)
                    {
                        if(response[key].length == 0)
                        {
                            continue;
                        }
                        createCategory(key);
                        for(let item in response[key])
                        {
                            let data = getCatData(key,response[key][item]);
                            addToCategory(key,data);
                        }
                    }
                    console.log(response);
                });
            });
        }
    </script>
</div>
