<!doctype html>
<html>
    <head>
    <link rel="stylesheet" type="text/css" href="CSS/status.css">
    <link rel="stylesheet" type="text/css" href="CSS/menu.css">
    <link rel="stylesheet" type="text/css" href="CSS/header.css">
    <link rel="stylesheet" type="text/css" href="CSS/status.css">
    <link rel="stylesheet" type="text/css" href="CSS/index.css">
    <link rel="stylesheet" type="text/css" href="CSS/news.css">
    <link rel="stylesheet" type="text/css" href="CSS/ranking.css">
    <link rel="stylesheet" type="text/css" href="CSS/control.css">
    <link rel="stylesheet" type="text/css" href="CSS/media.css">
        <link rel="stylesheet" type="text/css" href="CSS/features.css">
    <%- include('./imports/head'); %>

    <title><%= settings.serverName %></title>
    <%- include('./imports/menu'); %>
    <div class="header">
        <div class="video_bg">
            <video class="bg_video" width="1080" height="720" autoplay muted loop>
                <source src="videos/blurred_video.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="shadow"></div>
        <div class="video">
        <div class="header_content">
                <div class="header_logo">
                    <img src="<%= logo %>" alt="Logo">
                    <h1><%= settings.serverName %></h1>
                </div>
                <div class="btn_parent">
                    <div class="btn-a btn"><a class="child" href="play/"><span>PLAY <%= settings.serverName %></span></a></div>
                </div>
            </div>
        <div class="gradient"></div>
        <video autoplay muted loop>
            <source src="videos/vid.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        </div>
    </div>
        <div class="content">
            <div class="top_bg"></div>
            <div class="block_content maxWidth news">
                <div class="block_menu">
                    <h2>news</h2>
                </div>
                <%- include('panels/news.ejs') %>
            </div>
            <div class="block_content maxWidth news">
                <div class="block_menu">
                    <h2>features</h2>
                </div>
                <div class="feature_items">
                    <div class="feature_item">
                        <h2 data-content="Free to play">Free to play</h2>
                        <p>We have been and will always be free to play! With no subscription fees or other costs, you're free to play with all your friends as long as you like.</p>
                    </div>
                    <div class="feature_item">
                        <h2 data-content="High rated server">High rated server</h2>
                        <p>With 5x EXP and 5x MESO rates, we provide exciting yet challenging gameplay with lasting progression.</p>
                    </div>
                    <div class="feature_item">
                        <h2 data-content="Newest features">Newest features</h2>
                        <p>The Cash Shop is full of hundreds if not thousands of unique outfits to change your avatar's appearance including Surprise Style Boxes for rare outfits not available anywhere else.</p>
                    </div>
                    <div class="feature_item">
                        <h2 data-content="Events">Events</h2>
                        <p>We are always updating to the latest game version providing the newest content available for you to explore.</p>
                    </div>
                </div>
            </div>
            <div class="block_content maxWidth news">
                <div class="block_menu">
                    <h2>ranking</h2>
                </div>
            </div>
            <div class="block_content maxWidth news">
                <div class="block_menu">
                    <h2>stats</h2>
                </div>
            </div>
        </div>
    </div>
        <script>
        //TODO: CHANGE TO < loadPanelScripts() >
        //CONTROL SCRIPT
        /*
        let control_form = new FormElement("control_form");
        let control_error = new ErrorElement("controlError");
        control_form.onSubmit({body:true,preventDefault:true},(body,e)=>
        {
            let data = {username:body.control_name,password:body.control_pass};
            let url = new Url("IO/login",data);
            HttpHandler.postData(url,(response)=>
            {
                console.log(response.reason);
                if(!response.loggedin)
                {
                    return control_error.showError({reason:response.reason});
                }
                control_error.success({reason:response.reason + ". redirecting..."});
                setTimeout(()=>
                {
                    window.location.href = "/dashboard";
                },2500);
            });
            console.log(body);
        });
        */
        </script>
    </body>
</html>
