<div class="mod_grid" id="grid_<%= id %>">
    <% for(let i = 0; i < items.length; i++) {
        const item = items[i];
    %>
    <div class="mod_grid_item" id="grid_item_<%= item.id %>">
        <div class="mod_grid_item_image">
            <%if(!item.header) {%>
                <div class="mod_grid_blur" style="background:<%= item.image %>;"></div>
                <div class="mod_grid_fg" style="background:<%= item.image %>;"></div>
            <%}%>
            <%- item.header %>
        </div>
        <div class="mod_grid_item_content" style="<%- item.contentStyle %>">
            <%- item.content %>
        </div>
    </div>
    <%}%>
</div>
