<div class="mod_list" id="list_<%= name %>">
    <div class="mod_list_title">
        <h3><%= name %></h3>
        <div class="mod_list_btn"><i <%- addAttributes %>></i></div>
    </div>
    <div class="mod_list_items">
        <%
        if(list)
        for(let i = 0; i < list.length; i++ ) {
            const item = list[i];
        %>
        <div class="mod_list_item" list-id="<%= item[id] %>">
            <i class="<%= icon %> mod_list_icon"></i>
            <div class="mod_list_item_content">
                <div class="mod_list_item_top">
                    <p><%= item[title.key] %></p>
                </div>
                <div class="mod_list_break"></div>
                <div class="mod_list_item_bottom">
                    <ul>
                        <% for(let i = 0; i < attribs.length; i++ ) {
                            const keyObj = attribs[i];
                        %>
                        <li><strong><%= keyObj.name %></strong><span><%= item[keyObj.key] %></span></li>
                        <% } %>
                    </ul>
                </div>
            </div>
            <div class="mod_list_item_btns mod_list_btn" id="<%= item[id] %>">
                <i  <%- editAttributes %>></i>
                <i  <%- deleteAttributes %>></i>
            </div>
        </div>
        <% } %>
    </div>
</div>
