<!doctype html>
<html>
    <head>
    <meta charset="utf-8">
    <style>
    body
    {
        --mainColor:<%= palettes.active.mainColor %>;
        --secondaryMainColor:<%= palettes.active.secondaryMainColor %>;
        --fontColorLight:<%= palettes.active.fontColorLight %>;
        --fontColorDark:<%= palettes.active.fontColorDark %>;
        --fillColor:<%= palettes.active.fillColor %>;
    }
    </style>
    <link rel="stylesheet" type="text/css" href="../CSS/menu.css">
    <link rel="stylesheet" type="text/css" href="../CSS/dashboardGM.css">
    <link rel="stylesheet" type="text/css" href="../CSS/dropdown.css">             
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/tabIcon.png">
    <title>Dashboard GM</title>
    <style>
        #heroImageDisplay
        {
            background:url(../images/<%= heroImage %>);
            background-size:cover;
            background-position:50% 50%;
        }
    </style>
    </head>
    <body>

        <div id="categoryMenu">
            <div class="categoryMenu_item" id="dashboard-title">
                <h3>Dashboard GM</h3>
            </div>
            <h2 class="subTitle"><span>Main</span></h2>
            <div class="categoryMenu_item" data-page="dashboard">
                <h3>Dashboard</h3>
                <div id="dashboard_saved" class="saved">
                    <svg id="icon-notice" viewBox="0 0 32 32">
                        <title>notice</title>
                        <path d="M15.5 3.5c-7.18 0-13 5.82-13 13s5.82 13 13 13 13-5.82 13-13-5.82-13-13-13zM15.5 23.875c-0.829 0-1.5-0.672-1.5-1.5s0.671-1.5 1.5-1.5c0.828 0 1.5 0.672 1.5 1.5s-0.672 1.5-1.5 1.5zM17 17.375c0 0.828-0.672 1.5-1.5 1.5-0.829 0-1.5-0.672-1.5-1.5v-7c0-0.829 0.671-1.5 1.5-1.5 0.828 0 1.5 0.671 1.5 1.5v7z"></path>
                    </svg>
                </div>
            </div>
            <div class="categoryMenu_item" data-page="download">
                <h3>Downloads</h3>
                <div id="download_saved" class="saved">
                    <svg id="icon-notice" viewBox="0 0 32 32">
                        <title>notice</title>
                        <path d="M15.5 3.5c-7.18 0-13 5.82-13 13s5.82 13 13 13 13-5.82 13-13-5.82-13-13-13zM15.5 23.875c-0.829 0-1.5-0.672-1.5-1.5s0.671-1.5 1.5-1.5c0.828 0 1.5 0.672 1.5 1.5s-0.672 1.5-1.5 1.5zM17 17.375c0 0.828-0.672 1.5-1.5 1.5-0.829 0-1.5-0.672-1.5-1.5v-7c0-0.829 0.671-1.5 1.5-1.5 0.828 0 1.5 0.671 1.5 1.5v7z"></path>
                    </svg>
                </div>
            </div>
            <div class="categoryMenu_item" data-page="vote">
                <h3>Voting</h3>
                <div id="vote_saved" class="saved">
                    <svg id="icon-notice" viewBox="0 0 32 32">
                        <title>notice</title>
                        <path d="M15.5 3.5c-7.18 0-13 5.82-13 13s5.82 13 13 13 13-5.82 13-13-5.82-13-13-13zM15.5 23.875c-0.829 0-1.5-0.672-1.5-1.5s0.671-1.5 1.5-1.5c0.828 0 1.5 0.672 1.5 1.5s-0.672 1.5-1.5 1.5zM17 17.375c0 0.828-0.672 1.5-1.5 1.5-0.829 0-1.5-0.672-1.5-1.5v-7c0-0.829 0.671-1.5 1.5-1.5 0.828 0 1.5 0.671 1.5 1.5v7z"></path>
                    </svg>
                </div>
            </div>
            <h2 class="subTitle"><span>Style</span></h2>
            <div class="categoryMenu_item" data-page="design">
                <h3>Design</h3>
                <div id="design_saved" class="saved">
                     <svg id="icon-notice" viewBox="0 0 32 32">
                        <title>notice</title>
                        <path d="M15.5 3.5c-7.18 0-13 5.82-13 13s5.82 13 13 13 13-5.82 13-13-5.82-13-13-13zM15.5 23.875c-0.829 0-1.5-0.672-1.5-1.5s0.671-1.5 1.5-1.5c0.828 0 1.5 0.672 1.5 1.5s-0.672 1.5-1.5 1.5zM17 17.375c0 0.828-0.672 1.5-1.5 1.5-0.829 0-1.5-0.672-1.5-1.5v-7c0-0.829 0.671-1.5 1.5-1.5 0.828 0 1.5 0.671 1.5 1.5v7z"></path>
                    </svg>
                </div>
            </div>
            <div class="categoryMenu_item" data-page="layout">
                <h3>Layout</h3>
                <div id="layout_saved" class="saved">
                    <svg id="icon-notice" viewBox="0 0 32 32">
                        <title>notice</title>
                        <path d="M15.5 3.5c-7.18 0-13 5.82-13 13s5.82 13 13 13 13-5.82 13-13-5.82-13-13-13zM15.5 23.875c-0.829 0-1.5-0.672-1.5-1.5s0.671-1.5 1.5-1.5c0.828 0 1.5 0.672 1.5 1.5s-0.672 1.5-1.5 1.5zM17 17.375c0 0.828-0.672 1.5-1.5 1.5-0.829 0-1.5-0.672-1.5-1.5v-7c0-0.829 0.671-1.5 1.5-1.5 0.828 0 1.5 0.671 1.5 1.5v7z"></path>
                    </svg>
                </div>
            </div>
        </div>
        <div id="content">
            <div id="menu"></div>
            <div id="pages">
                <section class="page" id="dashboard">
                    <div class="pageHeader">
                        <h4>Dashboard</h4>
                        <div class="save btn"><span>save</span></div>
                    </div>
                </section>
                <section class="page" id="vote">
                    <div class="pageHeader">
                        <h4>Voting</h4>
                        <div class="save btn"><span>save</span></div>
                        <div class="headerBtnAdd add btn"><span>add</span></div>
                    </div>
                    <div class="voteSiteHolder">
                        <% for(let i = 0; i < votes.length; i++)
                        {
                            let vote = votes[i];
                        %>
                        <div class="voteSite" data-site="<%= vote.name %>" id="<%= vote.name %>">
                            <div class="edit">
                                <svg id="icon-pencil2" viewBox="0 0 24 24">
                                    <title>pencil2</title>
                                    <path d="M21.7 7.3l-5-5c-0.4-0.4-1-0.4-1.4 0l-13 13c-0.2 0.2-0.3 0.4-0.3 0.7v5c0 0.6 0.4 1 1 1h5c0.3 0 0.5-0.1 0.7-0.3l13-13c0.4-0.4 0.4-1 0-1.4zM7.6 20h-3.6v-3.6l12-12 3.6 3.6-12 12z"></path>
                                </svg>
                            </div>
                            <div class="close">
                                <svg id="icon-pencil2" viewBox="0 0 24 24">
                                    <title>close</title>
                                    <path d="M21 5h-4v-1c0-1.7-1.3-3-3-3h-4c-1.7 0-3 1.3-3 3v1h-4c-0.6 0-1 0.4-1 1s0.4 1 1 1h1v13c0 1.7 1.3 3 3 3h10c1.7 0 3-1.3 3-3v-13h1c0.6 0 1-0.4 1-1s-0.4-1-1-1zM9 4c0-0.6 0.4-1 1-1h4c0.6 0 1 0.4 1 1v1h-6v-1zM18 20c0 0.6-0.4 1-1 1h-10c-0.6 0-1-0.4-1-1v-13h12v13z"></path>
                                    <path d="M10 10c-0.6 0-1 0.4-1 1v6c0 0.6 0.4 1 1 1s1-0.4 1-1v-6c0-0.6-0.4-1-1-1z"></path>
                                    <path d="M14 10c-0.6 0-1 0.4-1 1v6c0 0.6 0.4 1 1 1s1-0.4 1-1v-6c0-0.6-0.4-1-1-1z"></path>
                                </svg>
                            </div>
                            <h5 class="name"><%= vote.name %></h5>
                            <h6 data-beforeContent="Nx per vote" class="nx before"><%= vote.nx %></h6>
                            <h6 data-beforeContent="Vote interval" class="time before"><%= vote.time %></h6>
                            <h6 data-beforeContent="Full url" class="url before"><%= vote.url %></h6>
                        </div>
                        <% } %>
                    </div>
                </section>
                <section class="page" id="download">
                    <div class="pageHeader">
                        <h4>Download</h4>
                        <div class="save btn"><span>save</span></div>
                        <div class="headerBtnAdd add btn"><span>add</span></div>
                    </div>
                    <div class="voteSiteHolder">
                    <%
                    downloads.forEach((download)=>
                    {
                    %>
                        <div class="voteSite" id="<%= download.name %>">
                            <div class="edit">
                                <svg id="icon-pencil2" viewBox="0 0 24 24">
                                    <path d="M21.7 7.3l-5-5c-0.4-0.4-1-0.4-1.4 0l-13 13c-0.2 0.2-0.3 0.4-0.3 0.7v5c0 0.6 0.4 1 1 1h5c0.3 0 0.5-0.1 0.7-0.3l13-13c0.4-0.4 0.4-1 0-1.4zM7.6 20h-3.6v-3.6l12-12 3.6 3.6-12 12z"></path>
                                </svg>
                            </div>
                            <h5 data-beforeContent="Name" class="name before"><%= download.name %></h5>
                            <h6 data-beforeContent="Url" class="url before"><%= download.url %></h6>                                                                                 
                        </div>
                    <% }); %>
                    </div>
                </section>
                <section class="page" id="design">
                    <div class="pageHeader">
                        <h4>Design</h4>
                        <div class="save btn"><span>save</span></div>
                        <div class="headerBtnAdd dropdownBtn btn noSelect" id="addDesignDropdown" data-dropdowncontent="addDesign">
                            <span>▾ Add Option</span>
                            <ul id="addDesign" class="noSelect dropdownContent">
                                <li data-select="Palette" class="add">Palette</li>
                                <li data-select="Font" class="add">Font</li>
                            </ul>
                        </div>
                    </div>
                    <div class="voteSiteHolder">
                        <div class="voteSite" id="palette">
                            <div class="edit">
                                <svg id="icon-pencil2" viewBox="0 0 24 24">
                                    <path d="M21.7 7.3l-5-5c-0.4-0.4-1-0.4-1.4 0l-13 13c-0.2 0.2-0.3 0.4-0.3 0.7v5c0 0.6 0.4 1 1 1h5c0.3 0 0.5-0.1 0.7-0.3l13-13c0.4-0.4 0.4-1 0-1.4zM7.6 20h-3.6v-3.6l12-12 3.6 3.6-12 12z"></path>
                                </svg>
                            </div>
                            <h5 data-beforeContent="Color palette" class="name before"><%= palettes.active.name %></h5>
                            <div class="colorPlatteHolder">
                                <div class="colorPallete MainColor"></div>
                                <div class="colorPallete SecondaryMainColor"></div>
                                <div class="colorPallete FontColorLight"></div>
                                <div class="colorPallete FontColorDark"></div>
                                <div class="colorPallete FillColor"></div> 
                            </div>                                                                                   
                        </div>
                        <div class="voteSite" id="heroImage">
                            <div class="edit">
                                <svg id="icon-pencil2" viewBox="0 0 24 24">
                                    <path d="M21.7 7.3l-5-5c-0.4-0.4-1-0.4-1.4 0l-13 13c-0.2 0.2-0.3 0.4-0.3 0.7v5c0 0.6 0.4 1 1 1h5c0.3 0 0.5-0.1 0.7-0.3l13-13c0.4-0.4 0.4-1 0-1.4zM7.6 20h-3.6v-3.6l12-12 3.6 3.6-12 12z"></path>
                                </svg>
                            </div>
                            <h5 data-beforeContent="Font Family" class="name before">Hero Image</h5>                                                                                   
                            <div id="heroImageDisplay"></div>
                        </div>
                        <div class="voteSite" id="fontFamily">
                            <div class="edit">
                                <svg id="icon-pencil2" viewBox="0 0 24 24">
                                    <path d="M21.7 7.3l-5-5c-0.4-0.4-1-0.4-1.4 0l-13 13c-0.2 0.2-0.3 0.4-0.3 0.7v5c0 0.6 0.4 1 1 1h5c0.3 0 0.5-0.1 0.7-0.3l13-13c0.4-0.4 0.4-1 0-1.4zM7.6 20h-3.6v-3.6l12-12 3.6 3.6-12 12z"></path>
                                </svg>
                            </div>
                            <h5 data-beforeContent="Font Family" class="name before">Montesseratt</h5>                                                                                   
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="dropdownBtn btn noSelect colorPaletteChoose" id="dropdown" data-dropdowncontent="searchRankingSettings">
            <span>▾ palette</span>
            <ul id="searchRankingSettings" class="noSelect dropdownContent">
                <%
                for(let i = 0; i < palettes.all.length; i++)
                {
                %>
                    <li data-select="<%= palettes.all[i].name %>"><%= palettes.all[i].name %>
                        <div class="allPalettes">
                            <div style="background:<%= palettes.all[i].mainColor %>"></div>
                            <div style="background:<%= palettes.all[i].fontColorLight %>"></div>
                            <div style="background:<%= palettes.all[i].fillColor %>"></div>
                            <div style="background:<%= palettes.all[i].secondaryMainColor %>"></div>
                            <div style="background:<%= palettes.all[i].fontColorDark %>"></div> 
                        </div>
                    </li>
                <%
                }
                %>
            </ul>
        </div>
        <div class="palettePreview" id="newPalettePreview">
        <h4>Title</h4>
        <div class="popup"><span>This is a popup message</span></div> 
        <p>Filler bread text here. woah</p>
        <div class="btn"><span>button</span></div> 
        </div>
        <script src="../JS/onload.js"></script>
        <script src="../JS/HttpHandler.js"></script>
        <script src="../JS/dropdown.js"></script>
        <script>
        </script>
        <script>
            let pageVisible;
            let palettes = 
            {
                <%
                for(let i = 0; i < palettes.all.length; i++)
                {
                %>
                "<%= palettes.all[i].name %>":
                {
                 mainColor:"<%= palettes.all[i].mainColor %>",
                 fontColorLight:"<%= palettes.all[i].fontColorLight %>",
                 fillColor:"<%= palettes.all[i].fillColor %>",
                 secondaryMainColor:"<%= palettes.all[i].secondaryMainColor %>",
                 fontColorDark:"<%= palettes.all[i].fontColorDark %>"
                },
                <%
                }
                %>
            }
            let vote = document.getElementById("vote");
            let dashboard = document.getElementById("dashboard");
            let design = document.getElementById("design");
            let download = document.getElementById("download");
            let pages =
            {
                vote:{id:"vote",isSaved:true,page:vote,method:onVoteLoad,remove:{}},
                design:{id:"design",isSaved:true,page:design,method:onDesignLoad},
                download:{id:"downloads",isSaved:true,page:download,method:onDownloadLoad},
                dashboard:{id:"dashboard",isSaved:true,page:dashboard,method:onDashboardLoad},
            }
            setSaveButton(pages.vote,pages.vote.page.getElementsByClassName("save")[0]);
            setSaveButton(pages.design,pages.design.page.getElementsByClassName("save")[0]);
            setSaveButton(pages.download,pages.download.page.getElementsByClassName("save")[0]);
            
            loadPage(pages.dashboard);
            function onDashboardLoad(page)
            {
            }
            function onDownloadLoad(page)
            {
                let downloads = 
                {
                    <%
                    downloads.forEach((download)=>
                    {
                    %>
                        <%=download.name%>:{name:"<%=download.name%>",url:"<%= download.url %>",element:document.getElementById("<%=download.name%>")},
                    <%});%>
                }
                let newValues = copyObject(downloads);
                let newLinks = {};
                let form = new FormPopup("changeDownload");
                let add = page.page.getElementsByClassName("add")[0];
                form.setCloseable();
                form.addInput({id:"name"});
                form.addInput({id:"url"});
                form.addButton({type:"submit",value:"Change"});
                form.onSubmit((data)=>
                {
                    console.log(data);
                    let key = data.settings.key;
                    if(newValues[key].name != data.fields.name || newValues[key].url != data.fields.url)
                    {
                        page.onLinkChanged = true;
                        setUnsaved(page);
                    }
                    newValues[key].name = data.fields.name;
                    newValues[key].url = data.fields.url;
                    newValues[key].element.getElementsByClassName("name")[0].innerHTML = data.fields.name;
                    newValues[key].element.getElementsByClassName("url")[0].innerHTML = data.fields.url;
                    form.hide();
                });
                getEditButtonsClick(page,(element)=>
                {
                    console.log(newValues);
                    console.log("ID",element.parentNode.id);
                    let download = newValues[element.parentNode.id];
                    form.setValue({id:"name",value:download.name});
                    form.setValue({id:"url",value:download.url});
                    form.setSetting({name:"key",value:element.parentNode.id});
                    form.show();
                });

                let addForm = form.copy("addDownload");
                addForm.addButton({type:"submit",value:"Add"});
                addForm.onSubmit((data)=>
                {
                    console.log("wew");
                    newLinks[data.fields.name] = {name:data.fields.name,url:data.fields.url};
                    setUnsaved(page);
                    page.onLinkAdd = true;
                    addForm.hide();
                });
                add.addEventListener("click",()=>
                {
                    addForm.show();
                },false);
                page.onSave = function()
                {
                    if(!page.isSaved)
                    {
                        if(page.onLinkChanged)
                        {
                            let url = new Url("dashboard/download/update",{original:downloads,new:newValues});
                            HttpHandler.postData(url,(response)=>
                            {
                                if(response.success)
                                {
                                    for(let key in newValues)
                                    {
                                        if(!downloads[newValues[key].name])
                                        {
                                            newValues[newValues[key].name] = newValues[key];
                                            newValues[newValues[key].name].element.id = newValues[key].name;
                                            delete newValues[key];
                                        }
                                    }
                                    page.onLinkChanged = false;
                                    setSaved(page);                                 
                                }
                                
                            });
                        }
                        if(page.onLinkAdd)
                        {
                            console.log("add");
                            let url = new Url("dashboard/download/add",{add:newLinks});
                            HttpHandler.postData(url,(response)=>
                            {
                                if(response.success)
                                {
                                    for(let key in newLinks)
                                    {
                                        let element = newLinks[key];
                                        newValues[element.name] = {};
                                        newValues[element.name].name = element.name;
                                        newValues[element.name].url = element.url;
                                    }
                                    newLinks = {};
                                    page.onLinkAdd = false;            
                                    setSaved(page);                                 
                                }
                                
                            });
                        }
                    }
                }
            }
            function getEditButtonsClick(page,callback,shouldPageBeLoaded = true)
            {
             if(!page.hasLoaded || !shouldPageBeLoaded)
                {
                    let edits = page.page.getElementsByClassName("edit");
                    for(let i = 0; i < edits.length; i++)
                    {
                        edits[i].addEventListener("click",function()
                        {
                            callback(this);
                        },false);
                    }
                }
            }
            function getRemoveButtonsClick(page,callback,shouldPageBeLoaded = true)
            {
                if(!page.hasLoaded || !shouldPageBeLoaded)
                {
                    let close = page.page.getElementsByClassName("close");
                    for(let i = 0; i < close.length; i++)
                    {
                        close[i].addEventListener("click",function()
                        {
                            callback(this);
                        },false);
                    }
                }  
            }
            function onDesignLoad(page)
            {

                //CHANGE PALETTE
                let adds = page.page.getElementsByClassName("add");
                let dropdownTemplate = new DOMCompiler("<div class=\"dropdownBtn btn noSelect\" id=\"dropdown\" data-dropdownContent=\"searchRankingSettings\"><span>&dtrif; Happy Green</span><ul id=\"searchRankingSettings\" class=\"noSelect dropdownContent\"><li data-select=\"Happy Green\">HG</li><li data-select=\"Deep Blue\">DB</li></ul></div>").compileDOM();
                dropdownTemplate = document.getElementById("dropdown");
                let form = new FormPopup("colorPalette");
                dropdownClickHandler(dropdownTemplate,(self,attribute,target)=>
                {
                    self.childNodes[1].innerHTML = "&dtrif; "+attribute;
                    form.setSetting({name:"paletteName",value:attribute});
                    form.setSetting({name:"palette",value:palettes[attribute]})
                });
                dropdownClickHandler(document.getElementById("addDesignDropdown"),(self,attribute,target)=>
                {
                    form.setSetting({name:"paletteName",value:attribute});
                    form.setSetting({name:"palette",value:palettes[attribute]})
                });
                form.setCloseable();
                form.appendDom();
                form.addElement(dropdownTemplate);
                form.addButton({type:"submit",value:"Change"});
                form.onSubmit((data)=>
                {
                    console.log(data.settings);
                    page.design = {name:data.settings.paletteName,colors:data.settings.palette};
                    document.body.style.setProperty("--mainColor",data.settings.palette.mainColor);
                    document.body.style.setProperty("--secondaryMainColor",data.settings.palette.secondaryMainColor);
                    document.body.style.setProperty("--fontColorLight",data.settings.palette.fontColorLight);
                    document.body.style.setProperty("--fontColorDark",data.settings.palette.fontColorDark);
                    document.body.style.setProperty("--fillColor",data.settings.palette.fillColor);
                    setUnsaved(page);
                    form.hide();
                });
                page.onSave = function(page)
                { 
                    if(page.isSaved) return;
                    console.log(page.design);
                    if(page.design && page.design.name && page.design.colors)
                    {
                        let url = new Url("dashboard/palette/update",{name:page.design.name,palette:page.design.colors});
                        HttpHandler.postData(url,(response)=>
                        {
                            console.log(response);
                            setSaved(page);
                        });
                    }
                    if(page.choosenImage)
                    {
                        let url = new Url("dashboard/heroImage/change",{file:page.choosenImage.getAttribute("data-name")});

                        HttpHandler.postData(url,(data)=>
                        {
                            if(data.success)
                                page.choosenImage = null;

                            setSaved(page);    
                        }); 
                    }
                }

                //ADD PALETTE
                adds[0].addEventListener("click",()=>
                {
                    let form = new FormPopup("addPaletteForm");
                    form.addInput({id:"name"});
                    form.addInput({id:"Main color",type:"color_custom"});
                    form.addInput({id:"Secondary main color",type:"color_custom"});
                    form.addInput({id:"Font color dark",type:"color_custom"});
                    form.addInput({id:"Font color light",type:"color_custom"});
                    form.addInput({id:"Fill Color",type:"color_custom"});
                    let preview = document.getElementById("newPalettePreview");
                    form.addElement(preview);
                    form.appendDom();
                    form.setCloseable();
                    form.addButton({type:"submit",value:"Add"});
                    form.onInputChange("Main color",(input)=>
                    {
                        console.log(input.value,"WOAH M8");
                        preview.getElementsByTagName("h4")[0].style.boxShadow="inset 0 -0.2em 0 "+input.value;
                        /*
                        <div class="palettePreview" id="newPalettePreview">
                        <h4>Title</h4>
                        <div class="popup"><span>This is a popup message</span></div> 
                        <p>Filler bread text here. woah</p>
                        <div class="btn"><span>button</span></div> 
                        </div>
                        */
                    });
                    form.onInputChange("Font color dark",(input)=>
                    {
                        preview.getElementsByTagName("h4")[0].style.color = input.value;
                        preview.getElementsByTagName("p")[0].style.color = input.value;
                    });
                    form.onInputChange("Font color light",(input)=>
                    {
                        preview.getElementsByClassName("popup")[0].style.color = input.value;
                        preview.getElementsByClassName("btn")[0].style.color = input.value;
                    });
                    form.onInputChange("Fill Color",(input)=>
                    {
                        preview.getElementsByClassName("popup")[0].style.background = input.value;
                    });
                    form.onInputChange("Secondary main color",(input)=>
                    {
                        preview.getElementsByClassName("btn")[0].style.background = input.value;
                    })
                    form.onSubmit((data)=>
                    {
                        let url = new Url("dashboard/palette/add",{palette:data.fields});
                        HttpHandler.postData(url,(data)=>
                        {
                            console.log(data);
                        });
                        form.hide();
                    });
                    form.show();
                },false);



                /*HERO IMAGE*/
                let heroForm = new FormPopup("HeropForm");
                let siteHolder = new DOMCompiler("<div id=\"fileHolder\"> <div id=\"fileHolderTitle\"> <h6>public/images</h6> <h3>Images</h3> </div><div class=\"fileWrapper\"> </div></div>").compileDOM();
                let fileTemplate = new DOMCompiler("<div class=\"file\" data-path=\"{{path}}\" data-name=\"{{name}}\"> <div class=\"accept\"> <svg id=\"icon-check-circle\" viewBox=\"0 0 24 24\"> <title>accept</title> <path d=\"M22 10.1c-0.6 0-1 0.4-1 1v0.9c0 5-4 9-9 9 0 0 0 0 0 0-5 0-9-4-9-9s4-9 9-9c0 0 0 0 0 0 1.3 0 2.5 0.3 3.7 0.8 0.5 0.2 1.1 0 1.3-0.5s0-1.1-0.5-1.3c-1.4-0.6-2.9-1-4.5-1 0 0 0 0 0 0-6.1 0-11 4.9-11 11s4.9 11 11 11c0 0 0 0 0 0 6.1 0 11-4.9 11-11v-0.9c0-0.6-0.4-1-1-1z\"></path> <path d=\"M9.7 10.3c-0.4-0.4-1-0.4-1.4 0s-0.4 1 0 1.4l3 3c0.2 0.2 0.4 0.3 0.7 0.3s0.5-0.1 0.7-0.3l10-10c0.4-0.4 0.4-1 0-1.4s-1-0.4-1.4 0l-9.3 9.3-2.3-2.3z\"></path> </svg> </div><div class=\"fileImage\"></div><h5>{{name}}</h5> </div>");
                let fileHolder = siteHolder.getElementsByClassName("fileWrapper")[0];
                let heroImageDisplay = document.getElementById("heroImageDisplay");
                console.log(siteHolder);
                heroForm.setCloseable();
                heroForm.addElement(siteHolder);
                heroForm.addButton({value:"Change",type:"submit"});
                let url = new Url("dashboard/changeImage",{});
                console.log("hej");
                heroForm.onSubmit(()=>
                {
                    console.log("wew");
                    heroImageDisplay.style.background = "url(../images/"+page.choosenImage.getAttribute("data-name")+")";
                    heroImageDisplay.style.backgroundSize="cover";
                    heroImageDisplay.style.backgroundPosition="50% 50%";
                    heroForm.hide();
                    fileHolder.innerHTML = "";
                    setUnsaved(page);
                });
                getEditButtonsClick(page,(self)=>
                {
                    console.log("edit btns");
                    if(self.parentNode.id == "palette")
                        form.show();
                    if(self.parentNode.id == "heroImage")
                    {
                        HttpHandler.postData(url,(data)=>
                        {
                            console.log(data);
                            data.files.forEach((file)=>
                            {
                                fileTemplate.setVariable({variable:"path",data:"public/images/"+file.toString()});
                                fileTemplate.setVariable({variable:"name",data:file.toString()});
                                let element = fileTemplate.compileDOM();
                                let image = element.getElementsByClassName("fileImage")[0];
                                image.style.background="url(../images/"+file+")";
                                image.style.backgroundSize="cover";
                                image.style.backgroundPosition="50% 50%";
                                element.addEventListener("click",function()
                                {
                                    if(page.choosenImage)
                                        page.choosenImage.getElementsByClassName("accept")[0].style.opacity="0";
                                    this.getElementsByClassName("accept")[0].style.opacity="0.85";
                                    page.choosenImage = this;
                                },false);
                                fileHolder.appendChild(element);
                            });
                            heroForm.show();  
                        });
                    } 
                },true);
            }
            function onVoteLoad(page)
            {
                //VOTE SCRIPT
                let form = new FormPopup("changeVote");
                let add = page.page.getElementsByClassName("add")[0];
                page.added = {};
                if(!isUnsaved(page)){
                    let sites = {
                        <% for(let i = 0; i < votes.length; i++)
                        {
                            let vote = votes[i];
                        %>
                        "<%= vote.name %>":{element:document.getElementById("<%= vote.name %>"),name:"<%= vote.name %>",nx:<%=vote.nx%>,time:"<%= vote.time %>",url:"<%= vote.url %>"},
                        <% } %>
                    };
                    page.originalValues = copyObject(sites);
                    page.newValues = sites;
                }
                let sites = page.newValues;
                let loadBtns = function(self)
                {
                    console.log(form);
                    if(!form.isActive()){
                        let site = self.parentNode.getAttribute("data-site");
                        form.setSetting({name:"site",value:site});
                        form.setValue({id:"nx",value:sites[site].nx});
                        form.setValue({id:"time",value:sites[site].time});
                        form.setValue({id:"name",value:sites[site].name});
                        form.setValue({id:"url",value:sites[site].url});
                        form.show();
                    }
                };
                let loadCloseBtns = function(self)
                {
                    console.log(self.parentNode);
                    self.parentNode.parentNode.removeChild(self.parentNode);
                    console.log(page.originalValues);
                    if(page.added[self.parentNode.id])
                    {
                        sites[self.parentNode.id] = null;
                        page.originalValues[self.parentNode.id] = null;
                        page.added[self.parentNode.id] = null;
                         return;
                    }
                    page.remove[self.parentNode.id] = self.parentNode.id;
                    console.log(page.remove); 
                    setUnsaved(page);
                };
                getRemoveButtonsClick(page,loadCloseBtns,true);
                getEditButtonsClick(page,loadBtns,true);
                form.addInput({id:"name"});
                form.addInput({id:"nx"});
                form.addInput({id:"time"});
                form.addInput({id:"url"});
                form.addButton({type:"submit",value:"Apply"});
                form.setCloseable();
                form.appendDom();
                form.onSubmit((data)=>
                {
                    console.log(data.fields,data.settings,self);
                    let site = sites[data.settings.site];
                    if(site.nx != data.fields.nx || site.time != data.fields.time || site.url != data.fields.url || site.name != data.fields.name)
                        setUnsaved(page);
                    site.nx = parseInt(data.fields.nx);
                    site.time = data.fields.time;
                    site.url = data.fields.url;
                    site.name = data.fields.name;
                    site.element.getElementsByClassName("nx")[0].innerHTML = data.fields.nx;
                    site.element.getElementsByClassName("time")[0].innerHTML = data.fields.time;
                    site.element.getElementsByClassName("name")[0].innerHTML = data.fields.name;
                    site.element.getElementsByClassName("url")[0].innerHTML = data.fields.url;
                    form.hide();
                });
                page.onCancelSave = function(page)
                {
                }
                page.onSave = function(page)
                {
                    if(!page.isSaved)
                    {
                        console.log(page.remove);
                        let url = new Url("/dashboard/votes/update",{newValue:page.newValues,originalValue:page.originalValues,remove:page.remove});
                        HttpHandler.postData(url,((data)=>
                        {
                            console.log(data);
                            if(data.success)
                            {
                                page.originalValues = page.originalValues = copyObject(page.newValues);
                                setSaved(page);
                            }
                        }).bind(page));
                    }
                }

                let voteSiteElement = new DOMCompiler("<div class=\"voteSite\" data-site=\"{{name}}\" id=\"{{name}}\"> <div class=\"close\"> <svg id=\"icon-pencil2\" viewBox=\"0 0 24 24\"> <title>close</title> <path d=\"M21 5h-4v-1c0-1.7-1.3-3-3-3h-4c-1.7 0-3 1.3-3 3v1h-4c-0.6 0-1 0.4-1 1s0.4 1 1 1h1v13c0 1.7 1.3 3 3 3h10c1.7 0 3-1.3 3-3v-13h1c0.6 0 1-0.4 1-1s-0.4-1-1-1zM9 4c0-0.6 0.4-1 1-1h4c0.6 0 1 0.4 1 1v1h-6v-1zM18 20c0 0.6-0.4 1-1 1h-10c-0.6 0-1-0.4-1-1v-13h12v13z\"></path> <path d=\"M10 10c-0.6 0-1 0.4-1 1v6c0 0.6 0.4 1 1 1s1-0.4 1-1v-6c0-0.6-0.4-1-1-1z\"></path> <path d=\"M14 10c-0.6 0-1 0.4-1 1v6c0 0.6 0.4 1 1 1s1-0.4 1-1v-6c0-0.6-0.4-1-1-1z\"></path> </svg> </div><div class=\"edit\"><svg id=\"icon-pencil2\" viewBox=\"0 0 24 24\"><title>pencil2</title><path d=\"M21.7 7.3l-5-5c-0.4-0.4-1-0.4-1.4 0l-13 13c-0.2 0.2-0.3 0.4-0.3 0.7v5c0 0.6 0.4 1 1 1h5c0.3 0 0.5-0.1 0.7-0.3l13-13c0.4-0.4 0.4-1 0-1.4zM7.6 20h-3.6v-3.6l12-12 3.6 3.6-12 12z\"></path></svg></div><h5 class=\"name\">{{name}}</h5><h6 data-beforeContent=\"Nx per vote\" class=\"nx before\">{{nx}}</h6><h6 data-beforeContent=\"Vote interval\" class=\"time before\">{{time}}</h6><h6 data-beforeContent=\"Full url\" class=\"url before\">{{url}}</h6></div>");
                let voteSiteHolder = document.getElementsByClassName("voteSiteHolder")[0];
                let addNewVoteForm = form.copy("newForm");
                addNewVoteForm.setCloseable();
                addNewVoteForm.appendDom();
                addNewVoteForm.onSubmit((data)=>
                {
                    console.log("wew",data);
                    voteSiteElement.setVariable({variable:"name",data:data.fields.name});
                    voteSiteElement.setVariable({variable:"nx",data:data.fields.nx});
                    voteSiteElement.setVariable({variable:"time",data:data.fields.time});
                    voteSiteElement.setVariable({variable:"url",data:data.fields.url});
                    let element = voteSiteElement.compileDOM();
                    voteSiteHolder.appendChild(element);
                    console.log(element);
                    let site = {element:element,name:data.fields.name,nx:data.fields.nx,time:data.fields.time,url:data.fields.url};
                    sites[data.fields.name] = site;
                    page.originalValues[data.fields.name] = site;
                    page.added[data.fields.name] = site;
                    getEditButtonsClick(page,loadBtns,false);
                    getRemoveButtonsClick(page,loadCloseBtns,false);
                    addNewVoteForm.hide();
                    form.hide();
                    setUnsaved(page);
                });
                addNewVoteForm.addButton({type:"submit",value:"Apply"}); 
                add.addEventListener("click",function()
                {
                    if(!form.isActive()){
                        addNewVoteForm.show();
                    }
                },false);

            }
            /*PAGE HANDLER*/
            function setSaveButton(page,button)
            {
                button.addEventListener("click",()=>
                {
                    page.onSave(page);
                });
            }
            function setCancelSaveButton(page,button)
            {
                button.addEventListener("click",()=>
                {
                    page.onCancelSave(page);
                });                
            }
            function setUnsaved(page)
            {
               page.isSaved = false;
               console.log(page.page.getElementsByClassName("save")[0]);
               page.page.getElementsByClassName("save")[0].style.background="#3e78b2";
               document.getElementById(page.page.id+"_saved").style.opacity="1";
            }
            function setSaved(page)
            {
                page.isSaved = true;
                page.page.getElementsByClassName("save")[0].style.background="#c4c4c4";
                document.getElementById(page.page.id+"_saved").style.opacity="0";
            }
            function isUnsaved(page)
            {
                return !page.isSaved;
            }
            function copyObject(object)
            {
                let obj = Object.assign({},object);
                for(let key in obj)
                {
                    if(typeof obj[key] == "object")
                        obj[key] = Object.assign({},object[key]);
                }
                return obj;
            }
            function loadPage(page)
            {
                if(pageVisible)
                    pageVisible.page.style.display="none";
                page.page.style.display="block";
                pageVisible = page;
                if(!page.hasLoaded)
                    page.method(page);
                page.hasLoaded = true;
            }


            let menu = document.getElementsByClassName("categoryMenu_item");
            for(let i = 0; i < menu.length; i++)
            {
                menu[i].addEventListener("click",function()
                {
                    let page = pages[this.getAttribute("data-page")];
                    if(page)
                        loadPage(page);
                },false);
            }

        </script>
    </body>
</html>