<!doctype html>
<html>
    <head>
        <style>
            body
            {
                --mainColor:<%= palette.mainColor %>;
                --secondaryMainColor:<%= palette.secondaryMainColor %>;
                --fontColorLight:<%= palette.fontColorLight %>;
                --fontColorDark:<%= palette.fontColorDark %>;
                --fillColor:<%= palette.fillColor %>;
            }
        </style>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="../CSS/index.css">
        <link rel="stylesheet" type="text/css" href="../CSS/media.css">   
        <link rel="stylesheet" type="text/css" href="../CSS/control.css">          
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="images/tabIcon.png">
        <title>Ranking</title>
    </head>
    <body>
        <div class="block smallBlock">
            <h3 class="blockHeader">Control Panel</h3>
            <% include ../panels/control.ejs %>
        </div>
    </body>
</html>