<%
let MENU_SITE="SIGN UP";
%>
<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../CSS/control.css">
        <link rel="stylesheet" type="text/css" href="../CSS/menu.css">
    <style>
        body
        {
            --mainColor:<%= palette.mainColor %>;
            --secondaryMainColor:<%= palette.secondaryMainColor %>;
            --fontColorLight:<%= palette.fontColorLight %>;
            --fontColorDark:<%= palette.fontColorDark %>;
            --fillColor:<%= palette.fillColor %>;
            margin:0;
            padding:0;
        }
        #content{
            width:35em;
            margin:auto;
            position:relative;
            padding-bottom:5em;
        }
        #logo{
            width:15em;
            height:6em;
            background:url(../images/logo.png) no-repeat;
            background-size:contain;
            background-position:50% 50%;
            margin:auto;
            margin-top:8em;
            margin-bottom:5em;
        }
        .m{
            position:fixed;
            width:30em;
            height:30em;
        }
        .ml{
            left:0;
            bottom:0;
            background:url("../images/left_bottom_monsters.png") no-repeat;
            background-size:contain;
            background-position:00% 100%;
        }
        .mr{
            right:0;
            bottom:0;
            background:url("../images/right_bottom_monsters.png") no-repeat;
            background-size:contain;
            background-position:100% 100%;
        }
        #form-btn-holder{
            margin-top:2em;
            align-content:right
        }
        .loader
        {
            background:#FFF;
        }        
    </style>
    </head>
    <body>
        <% include ../imports/menu.ejs %>
        <div class="m ml">
        </div>
        <div class="m mr">
        </div>
        <div id="content">
            <div id="logo">
            </div>
            <div id="control">
                <div class="loader" id="loginLoader">
                    <p>Loading</p>    
                </div>
                <form id="loginForm">
                    <div class="error" id="loginError">Error</div>
                    <div class="inputHolder firstInputHolder">
                        <input id="username" class="fill" type="text" name="username" autocomplete="off" required/>
                        <label for="username">Username</label>
                    </div>
                    <div class="inputHolder">
                        <input id="password" class="fill" name="password" type="password" autocomplete="off" required/>
                        <label for="password">Password</label>
                    </div>
                    <div class="inputHolder">
                        <input id="c_password" class="fill" name="c_password" type="password" autocomplete="off" required/>
                        <label for="c_password">Confirm Password</label>
                    </div>
                    <div class="inputHolder">
                        <input id="email" class="fill" type="text" name="email" autocomplete="off" required/>
                        <label for="email">Email</label>
                    </div>
                    <div class="inputHolder">
                        <input id="c_email" class="fill" type="text" name="c_email" autocomplete="off" required/>
                        <label for="c_email">Confirm Email</label>
                    </div> 
                    <div class="inputHolder">
                        <select id="gender" name="gender" class="fill">
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Other">Other</option>
                        </select>
                        <label for="password">Gender</label>
                    </div> 
                    <div class="inputHolder">
                        <div class="inputInlineHolder">
                        <select class="fill" id="year" name="year">
                            <% 
                            let year = new Date().getFullYear();
                            for(let i = 0; i < 220; i++)
                            {
                            %>
                            <option value="<%= year - i %>"><%= year - i %></option>
                            <% 
                            }
                            %>
                        </select>
                        <select id="month" name="month" class="fill">
                            <% 
                            let months =
                            [
                                'January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'
                            ]
                            for(let i = 0; i < months.length; i++)
                            {
                            %>
                            <option value="<%= i+1 %>"><%= months[i] %></option>
                            <% 
                            }
                            %>
                        </select>
                        <select id="day" name="day" class="fill">
                            <% 
                            for(let i = 30; i > 0; i--)
                            {
                            %>
                            <option value="<%= i %>"><%= i %></option>
                            <% 
                            }
                            %>
                        </select>                        
                        </div>
                        <label for="password">Date of Birth</label>
                    </div>                                                                                   
                    <div id="form-btn-holder">
                        <input name="login_submit" type="submit" class="btn btn-green" id="login" value="Register" />
                    </div>
                </form>
            </div>
        </div>
        <script src="../JS/HttpHandler.js"></script>
        <script>
        let form = new FormElement("loginForm");
        let error = new ErrorElement("loginError");
        let loader = document.getElementById("loginLoader");
        form.onSubmit({preventDefault:true,body:true},(body,e)=>
        {
            let url = new Url("/IO/register",body);
            loader.style.display="flex";
            setTimeout(()=>
            {
                loader.style.opacity="1";
            setTimeout(()=>
            {
            HttpHandler.postData(url,(response)=>
            {
                loader.style.opacity="0";
                setTimeout(()=>
                {
                    loader.style.display="none";
                    setTimeout(()=>
                    {
                        window.location.replace("./");
                    },3000);
                }, 320);
                if(response.success)
                {
                    error.hide();
                    error.success({reason:response.error});
                }
                else
                {
                    error.show({reason:response.error});
                }
            });
         }, 320);
         }, 10);
        });
        </script>
    </body>
</html>