<!doctype html>
<html>
    <head>
        <title>Dashboard GM</title>
        <%- include('../imports/head') %>
        <link rel="stylesheet" type="text/css" href="../CSS/list.css">
        <link rel="stylesheet" type="text/css" href="../CSS/menu.css">
        <link rel="stylesheet" type="text/css" href="../CSS/dashboard.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    </head>
    <body>

        <div id="infoBox">Select palette</div>
        <div class="wrapper">
            <div class="dashboard_menu">
                <div id="logo"></div>
                <div class="user">
                    <div class="user_icon">
                    </div>
                    <h3>Welcome, <%= options.user.name %></h3>
                </div>
                <div class="sub_menu" id="dashboard_menu_id">
                    <div id="dahboard_bar"></div>
                    <ul>
                        <li page="dashboard"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></li>
                        <li page="statistics"><i class="fas fa-chart-bar"></i><span>Statistics</span></li>
                        <li page="download"><i class="far fa-save"></i><span>Downloads</span></li>
                        <li page="vote"><i class="fas fa-vote-yea"></i></i><span>Vote</span></li>
                        <li><i class="fas fa-palette"></i><span>Colors</span></li>
                        <li id="btn"><i class="fas fa-th-list"></i><span>Home Layout</span></li>
                        <li><i class="fas fa-bars"></i><span>Menu</span></li>
                    </ul>
                </div>
            </div>
            <div class="contents">
                <div id="top_menu"></div>
                <!-- DASHBOARD -->
                <div id="dashboard" class="contentPage">
                    <h1><i class="fas fa-tachometer-alt"></i>Dashboard</h1>
                </div>


                <!-- STATISTICS -->
                <div id="statistics" class="contentPage">
                    <h1><i class="fas fa-chart-bar"></i>Statistics</h1>
                </div>



                <!-- DOWNLOAD -->
                <div id="download" class="contentPage">
                    <h1><i class="far fa-save"></i>Downloads</h1>
                    <div class="btn-list">
                        <div class="btn_parent">
                            <div class="btn btn-span popup-trigger" trigger="downloadPopup" popup-data="
                                #-1=id,
                                #Add Download=title,
                                #Title=label_1,
                                #Url=label_2
                                #Name=input_1,
                                #Url=input_2,
                                #Add=submit
                                ">
                                <span>Add new download</span>
                            </div>
                        </div>
                    </div>
                    <div class="panels">
                        <% if(options.downloads) %>
                        <%- include ('../panels/list.ejs',
                        {listTitle:"Downloads",
                         name:"Setup Maplenode",
                         list: options.downloads,
                         title: {key:"name"},
                         keys: [{key:"url",name:"url"}]
                        }) %>
                    </div>
                </div>


                <!-- VOTE -->
                <div id="vote" class="contentPage">
                    <h1><i class="fas fa-vote-yea"></i>Votes</h1>
                    <div class="btn-list">
                        <div class="btn_parent">
                            <div class="btn btn-span popup-trigger" trigger="votePopup" popup-data="
                                #-1=id,
                                #Add Vote=title,
                                #Title=label_1,
                                #Url=label_2,
                                #Nx=label_3,
                                #Cooldown=label_4
                                #Name=input_1,
                                #Url=input_2,
                                #1000=input_3,
                                #0=input_4,
                                #Add=submit
                                ">
                                <span>Add new vote</span>
                            </div>
                        </div>
                    </div>
                    <div class="panels">
                        <%
                        if(options.votes)
                        for(var i = 0; i < options.votes.length; i++)
                        {
                            const vote = options.votes[i];
                        %>
                        <div class="panel" vote="<%= vote.ID %>">
                            <h2><%= vote.name%></h2>
                            <ul>
                                <li data-title="Url" class="p_content"><%= vote.url%></li>
                                <li data-title="Nx"  class="p_content"><%= vote.nx%></li>
                                <li data-title="Time"  class="p_content"><%= vote.time%></li>
                            </ul>
                            <div class="btn-list">
                                <div class="btn-icon info popup-trigger" trigger="votePopup" popup-data="
                                <<.vote=id,
                                #Edit Vote=title,
                                #Name=label_1,
                                #Url=label_2,
                                #Nx=label_3,
                                #Cooldown=label_4,
                                <<>h2=input_1,
                                <<>ul>li=input_2,
                                <<>ul>li[1]=input_3,
                                <<>ul>li[2]=input_4,
                                #Edit=submit" data-info="Edit">
                                    <i class="far fa-edit"></i>
                                </div>
                                <div class="btn-icon info popup-trigger remove" trigger="removePopup" popup-data="<<.vote=id,#Are you sure?=title,#Yes remove it=submit" data-info="Remove">
                                    <i class="fas fa-trash-alt"></i>
                                </div>
                            </div>
                        </div>
                        <%
                        }
                        %>
                    </div>
                </div>
            </div>
        </div>
        <div class="popups">

            <!-- DOWNLOAD POPUP -->
            <div id="downloadPopup" class="popup">
                <div class="close"><i class="fas fa-times"></i></div>
                <h1 class="title attrib" name="title">hello there!</h1>
                <form>
                    <h3 class="error_popup">Error message</h3>
                    <input class="attrib" name="id" id="test" type="hidden">
                    <div class="input">
                        <label for="label_1" class="attrib" name="label_1">Test</label>
                        <input class="attrib" name="input_1">
                    </div>
                    <div class="input">
                        <label for="label_2"class="attrib" name="label_2">Test 2</label>
                        <input class="attrib" name="input_2">
                    </div>
                    <div class="btn_parent">
                        <div class="btn btn-input">
                            <input type="submit" name="submit" class="child attrib submit" id="login" value="Submit" />
                        </div>
                    </div>
                </form>
            </div>

            <!-- VOTE POPUP -->
            <div id="votePopup" class="popup">
                <div class="close"><i class="fas fa-times"></i></div>
                <h1 class="title attrib" name="title">hello there!</h1>
                <form>
                    <h3 class="error_popup">Error message</h3>
                    <input class="attrib" name="id" id="test" type="hidden">
                    <div class="input">
                        <label for="input_1" class="attrib" name="label_1">Test</label>
                        <input class="attrib" name="input_1">
                    </div>
                    <div class="input">
                        <label for="input_2"class="attrib" name="label_2">Test 2</label>
                        <input class="attrib" name="input_2">
                    </div>
                    <div class="input">
                        <label for="input_3"class="attrib" name="label_3">Test 2</label>
                        <input class="attrib" name="input_3">
                    </div>
                    <div class="input">
                        <label for="input_4"class="attrib" name="label_4">Test 2</label>
                        <input class="attrib" name="input_4">
                    </div>
                    <div class="btn_parent">
                        <div class="btn btn-input">
                            <input type="submit" name="submit" class="child attrib submit" id="login" value="Submit" />
                        </div>
                    </div>
                </form>
            </div>


            <!-- REMOVE POPUP -->
            <div id="removePopup" class="popup">
                <div class="close"><i class="fas fa-times"></i></div>
                <h1 class="title attrib" name="title">Are you sure?</h1>
                <form>
                    <input class="attrib" name="id" id="test" type="hidden">
                    <h3 class="error_popup">Error message</h3>
                    <div class="btn_parent">
                        <div class="btn btn-input">
                            <input type="submit" name="submit" class="child attrib submit" id="login" value="Yes" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <script>
            /*
            let menuPos = document.getElementsByClassName("dashboardMenu")[0];
            let items = document.getElementsByClassName("dashitem");
            let menuActive = document.getElementById("menuActive");
            menuActive.style.width = items[0].clientWidth + "px";
*/
            let infos = document.getElementsByClassName("info");
            let infoBox = document.getElementById("infoBox");
            let leave,enter;
            for(let i = 0; i < infos.length; i++)
            {
                let item = infos[i];
                item.addEventListener("mouseenter",()=>
                {
                    infoBox.style.display="block";
                    infoBox.innerHTML = item.getAttribute("data-info");
                    let box = item.getBoundingClientRect();
                    let buttonWidth = box.right-box.left;
                    let infoBoxRect = infoBox.getBoundingClientRect();
                    let width = infoBoxRect.right-infoBoxRect.left;
                    let height = infoBoxRect.bottom-infoBoxRect.top;
                    //infoBox.style.transform =`translate(${box.left}px,${box.top}px)`;
                    infoBox.style.top = (box.top-height-15+window.pageYOffset) + "px";
                    infoBox.style.left = (box.left-width/2+buttonWidth/2) + "px";
                    clearTimeout(leave);
                    enter = setTimeout(()=>
                    {
                        infoBox.style.opacity="1";
                        infoBox.style.transform="translateY(0em)";
                    },20);

                },false);
                item.addEventListener("mouseleave",()=>
                {
                    infoBox.style.opacity="0";
                    infoBox.style.transform="translateY(-0.2em)";
                    clearTimeout(enter);
                    leave = setTimeout(()=>
                    {
                        infoBox.style.display="none";
                    },220);
                });
            }
            /*

            for(let i = 0; i < items.length; i++)
            {
                let item = items[i];
                item.addEventListener("click",()=>
                {
                    let rect = item.getBoundingClientRect();
                    menuActive.style.width = item.clientWidth + "px";
                    menuActive.style.left = (rect.left - menuPos.getBoundingClientRect().left) + "px";
                },false);
            }
            */
        </script>
        <script type="module" src="JS/dashboard/DashboardGM.js"></script>
    </body>
</html>
