<%
const listDownload = {
    icon:"fas fa-download",
    name: "Downloads",
    id:"id",
    list: options.downloads,
    title: {key:"name"},
    attribs: [],
    editAttributes: 'class="fas fa-book btn-icon info panel-bind" event="click" method="readDownload" data-info="More"',
    addAttributes: 'class="fas fa-plus popup-trigger info" data-info="New download" trigger="downloadPopup" popup-data="#download=src,#-1=id,#Add Download=title,#Title=label_1,#Url=label_1 #Name=input_1,#Url=input_2,#Add=submit"',
    deleteAttributes: 'class="fas fa-trash-alt btn-icon info popup-trigger remove" trigger="removePopup" popup-data="#download=src,<.id=id,#Are you sure?=title,#Yes remove it=submit" data-info="Remove"',
};

const listVotes = {
    icon:"fas fa-poll",
    name: "Votes",
    list: options.votes,
    id:"id",
    title: {key:"name"},
    attribs: [{key:"url",name:"url"},{key:"nx",name:"nx"},{key:"time",name:"cooldown"}],
    editAttributes: 'class=" far fa-edit btn-icon info popup-trigger" trigger="votePopup" popup-data="#vote=src,<.id=id,#Edit Vote=title,#Name=label_1,#Url=label_2,#Nx=label_3,#Cooldown=label_4,<<>div>div>p=input_1,<<>div>div[2]>ul>li>span=input_2,<<>div>div[2]>ul>li[1]>span=input_3,<<>div>div[2]>ul>li[2]>span=input_4,#Edit=submit" data-info="Edit"',
    addAttributes: 'class="fas fa-plus popup-trigger info" data-info="New vote" trigger="votePopup" popup-data="#vote=src,#-1=id,#Add Vote=title,#Title=label_1,#Url=label_2,#Nx=label_3,#Cooldown=label_4,#Name=input_1,#Url=input_2,#1000=input_3,#0=input_4,#Add=submit"',
    deleteAttributes: 'class="fas fa-trash-alt btn-icon info popup-trigger remove" trigger="removePopup" popup-data="#vote=src,<.id=id,#Are you sure?=title,#Yes remove it=submit" data-info="Remove"'
};
// panel-bind" palette-key="${palette.name}" event="click" method="activeSet"
console.log(options.logs);
const listLogs = {
    icon:"fab fa-readme",
    name: "Logs",
    list: options.logs,
    id:"ID",
    title: {key:"name"},
    attribs: [{key:"type",name:"Type"},{key:"creation",name:"Date"}],
    editAttributes: 'class=" fas fa-book btn-icon info panel-bind" event="click" method="readLog" data-info="Read more"',
    addAttributes: 'class="fas fa-dumpster info panel-bind" data-info="Delete all" event="click" method="removeAll"',
    deleteAttributes: 'class="fas fa-trash-alt btn-icon info popup-trigger remove" trigger="removePopup" popup-data="#vote=src,<.id=id,#Are you sure?=title,#Yes remove it=submit" data-info="Remove"',
    readMoreContent: `<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>`
};
const listReports = {
    icon:"fas fa-user-alt-slash",
    name: "Reports",
    list: options.reports,
    id:"id",
    itemAttribs: [{
        key:"victimid",name:"victim"
    }],
    title: {key:"victimName"},
    attribs: [{key:"status",name:"Status"}],
    editAttributes: 'class=" fas fa-book btn-icon info panel-bind" event="click" method="readLog" data-info="Read report"',
    addAttributes: 'class="fas fa-dumpster info panel-bind" data-info="Delete all" event="click" method="removeAll"',
    deleteAttributes: 'class="fas fa-gavel btn-icon info popup-trigger ban" popup-data="<<<.victim=src,<.id=id,#Ban account?=title,#Yes ban it!=submit" data-info="Ban"',
};
%>
<!doctype html>
<html>
    <head>
        <title>Dashboard GM</title>
        <%- include('../imports/head') %>
        <link rel="stylesheet" type="text/css" href="../CSS/list.css">
        <link rel="stylesheet" type="text/css" href="../CSS/grid.css">
        <link rel="stylesheet" type="text/css" href="../CSS/menu.css">
        <link rel="stylesheet" type="text/css" href="../CSS/dashboard.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <style>
            #logo {
                background:url(<%= logo %>) no-repeat;
                background-size:contain;
            }
        </style>
    </head>
    <body>

        <div id="infoBox">Select palette</div>
        <div class="wrapper">
            <div class="dashboard_menu">
                <div id="logo"></div>
                <div class="user">
                    <div class="user_icon">
                    </div>
                    <h3>Welcome, <%= options.user.name %></h3>
                </div>
                <div class="sub_menu" id="dashboard_menu_id">
                    <div id="dahboard_bar"></div>
                    <ul>
                        <li page="statistics"><i class="fas fa-chart-pie"></i><span>Statistics</span></li>
                        <li page="contents"><i class="fas fa-box"></i><span>Contents</span></li>
                        <li page="designs"><i class="fas fa-paint-brush"></i><span>Designs</span></li>
                        <li page="layouts" id="btn"><i class="fas fa-bars"></i><span>Layouts</span></li>
                        <li page="logs"><i class="fas fa-clipboard-list"></i><span>Logs</span></li>
                        <li page="reports"><i class="fas fa-bug"></i></i><span>Reports</span></li>
                    </ul>
                </div>
            </div>
            <div class="contents">
                <div id="top_menu"></div>
                <div class="pages">
                    <!-- STATISTICS -->
                    <div id="statistics" class="contentPage">
                        <h1><i class="fas fa-chart-pie"></i>Statistics</h1>
                    </div>

                    <!-- DOWNLOAD -->
                    <div id="contents" class="contentPage containsSubPages">
                        <ul class="submenu">
                            <li page="downloads"><i class="fas fa-download"></i><span>Downloads</span></li>
                            <li page="votes"><i class="fas fa-poll"></i><span>Votes</span></li>
                        </ul>
                        <div class="subPages">
                            <div class="subPage" id="downloads">
                                <h1><i class="fas fa-download"></i>Downloads</h1>
                                <% if(options.downloads) {
                                    listDownload.content = [];
                                    for(let i = 0; i < options.downloads.length; i++ ){
                                        const download = options.downloads[i];
                                        console.log("DOWNLOAD: " , download);
                                        let html = "";
                                        html += `
                                            <div class="mod_list_add_mirror">
                                                <span>Image</span>
                                                <i class="fas fa-exchange-alt mod_list_icon info" data-info="Change image"></i>
                                            </div>
                                        <div class="mod_list_download_header" style="background:url(${getFile(download.image)}) no-repeat; background-size:cover; background-position: 50% 50%;" >
                                        </div>
                                            <div class="mod_list_add_mirror">
                                                <span>Mirrors</span>
                                                <i class="fas fa-plus mod_list_icon info" data-info="Add mirror"></i>
                                            </div>
                                        `;
                                        html += `<div class="content_list heightDownloadContent" height="${download.urls.length}">`;
                                        for(let j = 0; j < download.urls.length; j++) {
                                            const mirror = download.urls[j];
                                            html += `
                                            <div class="mod_list_main">
                                                <i class="fas fa-link mod_list_icon"></i>
                                                <div class="mod_list_item_content">
                                                    <div class="mod_list_item_top">
                                                        <p>Mirror ${j+1}</p>
                                                    </div>
                                                    <div class="mod_list_break"></div>
                                                    <div class="mod_list_item_bottom">
                                                        <ul>
                                                            <li><strong>Url</strong><span>${mirror.url}</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="mod_list_item_btns mod_list_btn" id="1">
                                                    <i class="fas fa-edit info" popup-data="#vote=src,<.id=id,#Edit Vote=title,#Name=label_1,#Url=label_2,#Nx=label_3,#Cooldown=label_4,<<>div>div>p=input_1,<<>div>div[2]>ul>li>span=input_2,<<>div>div[2]>ul>li[1]>span=input_3,<<>div>div[2]>ul>li[2]>span=input_4,#Edit=submit" data-info="Edit mirror"></i>
                                                    <i class="fas fa-trash-alt info" data-info="Remove mirror"></i>
                                                </div>
                                            </div>
                                            `;
                                        }
                                        html += `</div>`;
                                        listDownload.content.push(html);
                                    }
                                %>
                                <%- include ('../panels/list.ejs', listDownload) %>
                                <%}%>
                            </div>
                            <div class="subPage" id="votes">
                                <h1><i class="fas fa-poll"></i>Votes</h1>
                                <% if(options.votes) %>
                                <%- include ('../panels/list.ejs', listVotes) %>
                            </div>
                        </div>
                    </div>


                    <!-- VOTE -->
                    <div id="vote" class="contentPage">
                        <h1><i class="fas fa-vote-yea"></i>Votes</h1>
                        <div class="btn-list">
                            <div class="btn_parent">
                                <div class="btn btn-span popup-trigger" trigger="votePopup" popup-data="
                                    #-1=id,
                                    #Add Vote=title,
                                    #Title=label_1,
                                    #Url=label_2,
                                    #Nx=label_3,
                                    #Cooldown=label_4
                                    #Name=input_1,
                                    #Url=input_2,
                                    #1000=input_3,
                                    #0=input_4,
                                    #Add=submit
                                    ">
                                    <span>Add new vote</span>
                                </div>
                            </div>
                        </div>
                        <div class="panels">
                            <%- include ('../panels/list.ejs', listVotes) %>
                        </div>
                    </div>

                    <!-- DESIGNS -->
                    <div id="designs" class="contentPage containsSubPages">
                        <ul class="submenu">
                            <li page="templates"><i class="far fa-bookmark"></i><span>Templates</span></li>
                            <li page="palettes"><i class="fas fa-palette"></i><span>Palettes</span></li>
                            <li page="images"><i class="far fa-images"></i><span>Images</span></li>
                        </ul>
                        <div class="subPages">

                            <!-- SUB TEMPLATES FOR DESIGN -->
                            <div class="subPage" id="templates">
                                <div class="subHeader">
                                    <h1><i class="far fa-bookmark"></i>Templates</h1>
                                    <div class="btn-list">
                                        <div class="btn_parent">
                                            <div class="btn btn-span popup-trigger" trigger="downloadPopup" popup-data="
                                                #-1=id,
                                                #Add Download=title,
                                                #Title=label_1,
                                                #Url=label_2
                                                #Name=input_1,
                                                #Url=input_2,
                                                #Add=submit
                                                ">
                                                <span>upload template</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h3>Coming soon!</h3>
                            </div>

                            <!-- SUB IMAGES FOR DESIGN -->
                            <div class="subPage" id="images">
                                <div class="subHeader">
                                    <h1><i class="far fa-images"></i>Images</h1>
                                    <div class="btn-list">
                                        <div class="btn_parent">
                                            <div class="btn btn-span popup-trigger" trigger="uploadFilePopup" popup-data="
                                                #-1=id,
                                                #Upload file=title,
                                                #Select file=label_1,
                                                #Upload=submit
                                                ">
                                                <span>Upload Image</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <%
                                    const gridList = [];
                                for(let i = 0; i < options.images.length; i++) {
                                    const image = options.images[i];
                                    let activeList = [];
                                    let style = '';
                                    activeList.push(`<div class="mod_grid_actives">`);
                                    if(image.tags) {
                                        style += `padding-top:1rem;padding-bottom:1rem;`;
                                        console.log("TAGS HERE !!!!!!!!!!!!!!",image.tags);
                                        for (let i = 0; i < image.tags.length; i++) {
                                            activeList.push(`<div tag-id="${image.tags[i]}" file-id="${image.fileName}" class="mod_grid_active info remove" popup-data=".tag-id=src,.file-id=id,#Remove ${image.tags[i]} from file?=title,#Yes remove it=submit" data-info="Remove tag"><i class="fas fa-tag"></i><span>${image.tags[i]}</span></div>`);
                                        }
                                    }
                                    activeList.push(`<div file-id="${image.fileName}" class="mod_grid_active info trigger-list" data-info="Add tag" popup-data=".file-id=id,#Add tag to file=title"><i class="fas fa-plus"></i></div>`);
                                    activeList.push(`</div>`);
                                    gridList.push({
                                        id:image.fileName,
                                        contentStyle:`flex-direction:row;${style}`,
                                        content:`
<div class="mod_grid_item_content">
    <h2>${image.fileName}</h2>
    ${activeList.join('')}
</div>
<div class="grid_icons" id="${image.fileName}">
    <i class="grid_edit fas fa-trash-alt info remove" popup-data="#file=src,<.id=id,#Are you sure?=title,#Yes remove it=submit" data-info="Delete Image"></i>
</div>
`,
                                        image:` center / contain no-repeat url("${image.destName}")`})
                                }
                                %>
                                <%- include ('../panels/grid.ejs',{id:'images',items:gridList})%>
                            </div>

                            <!-- SUB PALETTES FOR DESIGN -->
                            <div class="subPage" id="palettes">
                                <div class="subHeader">
                                    <h1><i class="fas fa-palette"></i>Palettes</h1>
                                    <div class="btn-list">
                                        <div class="btn_parent">
                                            <div class="btn btn-span popup-trigger" trigger="palettePopup" popup-data="
                                                #-1=id,
                                                #Add palette=title,
                                                ">
                                                <span>Add palette</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <%
                                console.log(options.palettes);
                                const paletteContent = [];
                                for(let i = 0; i < options.palettes.all.length; i++) {

                                    const palette = options.palettes.all[i];
                                    let contentsTag = `<div class="mod_grid_actives">`;
                                    contentsTag += palette.active === 1 ? `<div class="mod_grid_actives active-palette" palette-key="${palette.name}"><div class="mod_grid_active"><i class="fas fa-check"></i><span>Active</span></div></div>` : `<div class="mod_grid_active info panel-bind" palette-key="${palette.name}" event="click" method="activeSet" data-info="Set as active palette"><i class="fas fa-ellipsis-v"></i></div>`;
                                    contentsTag += `</div>`;
                                    paletteContent.push({
                                        id:palette.name,
                                        contentStyle:`flex-direction:row;padding-top:1rem;padding-bottom:1rem;`,
                                        content:`
<div class="mod_grid_item_content" id="palette_${palette.name}">
    <h2>${palette.name}</h2>
    ${contentsTag}
</div>
<div class="grid_icons grid_icons_row" id="${palette.name}" style="flex-direction: row; align-items: center">
    <i class="grid_edit fas fa-edit info popup-trigger" trigger="palettePopup" popup-data="<.id=id,#Edit palette=title,<.id=src,<.id=input_1,<<<>div>div>div.color=input_2,<<<>div>div>div[1].color=input_3,<<<>div>div>div[2].color=input_4,<<<>div>div>div[3].color=input_5,<<<>div>div>div[4].color=input_6" data-info="Edit"></i>
    <i class="grid_edit fas fa-trash-alt info remove" popup-data="#palette=src,<.id=id,#Are you sure?=title,#Yes remove it=submit" data-info="Remove"></i>
</div>
                                        `,
                                        header:`
<div class="grid_header_colors">
   <div class="grid_header_color" colorType="mainColor" color="${palette.mainColor}" style="background:${palette.mainColor}; color:${palette.fontColorDark}">Main color</div>
    <div class="grid_header_color" colorType="secondaryMainColor" color="${palette.secondaryMainColor}" style="background:${palette.secondaryMainColor}; color:${palette.fontColorDark}">Secondary main color</div>
    <div class="grid_header_color" colorType="fontColorDark" color="${palette.fontColorDark}" style="background:${palette.fontColorDark}; color:${palette.fontColorLight}">Font color dark</div>
    <div class="grid_header_color" colorType="fontColorLight" color="${palette.fontColorLight}" style="background:${palette.fontColorLight}; color:${palette.fontColorDark}">Font color light</div>
    <div class="grid_header_color" colorType="fillColor" color="${palette.fillColor}" style="background:${palette.fillColor}; color:${palette.fontColorDark}">Fill color</div>
</div>
                                    `})
                                }
                                %>
                                <%- include ('../panels/grid.ejs',{gridSize:'auto', id:'palettes',items:paletteContent})%>
                            </div>
                        </div>
                    </div>
                    <!-- LAYOUTS -->
                    <div id="layouts" class="contentPage">
                        <h1><i class="fas fa-bars"></i>Website Layouts</h1>
                        <h3>Coming soon!</h3>
                    </div>
                    <!-- LOGS -->
                    <div id="logs" class="contentPage">
                        <h1><i class="fas fa-clipboard-list"></i>Logs</h1>
                        <%- include ('../panels/list.ejs', listLogs) %>
                    </div>
                    <!-- REPORTS -->
                    <div id="reports" class="contentPage subPage">
                        <div class="subHeader">
                            <h1><i class="fas fa-bug"></i>Reports</h1>
                            <div class="btn-list">
                                <div class="btn_parent">
                                    <div class="btn btn-span popup-trigger" trigger="palettePopup" popup-data="
                                                #-1=id,
                                                #Add palette=title,
                                                ">
                                        <span><i class="fas fa-sliders-h"></i>Filter</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%
                        listReports.content = [];
 for(let i = 0; i < options.reports.length; i++ ){
     const report = options.reports[i];
     listReports.content.push(`
<ul>
<li><span>Account id:</span> ${report.id}</li>
<li><span>Date:</span> ${report.reporttime}</li>
<li><span>Reason:</span> ${report.reason}</li>
<li><span>status:</span> ${report.status}</li>
<li><span>Banned:</span> ${report.banned?"true":"false"}</li>
</ul>
<p class="chatlog" >Chatlog: ${report.chatlog}</p>

     `);
 }

 %>
                        <%- include ('../panels/list.ejs', listReports) %>
                    </div>
                </div>
            </div>
        </div>
        <div class="popups">

            <!-- DOWNLOAD POPUP -->
            <div id="downloadPopup" class="popup">
                <div class="close"><i class="fas fa-times"></i></div>
                <h1 class="title attrib" name="title">hello there!</h1>
                <form>
                    <h3 class="error_popup">Error message</h3>
                    <input class="attrib" name="id" id="test" type="hidden">
                    <input class="attrib" name="src" type="hidden">
                    <div class="input">
                        <label for="label_1" class="attrib" name="label_1">Test</label>
                        <input class="attrib" name="input_1">
                    </div>
                    <div class="input">
                        <label for="label_2"class="attrib" name="label_2">Test 2</label>
                        <input class="attrib" name="input_2">
                    </div>
                    <div class="btn_parent">
                        <div class="btn btn-input">
                            <input type="submit" name="submit" class="child attrib submit" id="login" value="Submit" />
                        </div>
                    </div>
                </form>
            </div>

            <!-- VOTE POPUP -->
            <div id="votePopup" class="popup">
                <div class="close"><i class="fas fa-times"></i></div>
                <h1 class="title attrib" name="title">hello there!</h1>
                <form>
                    <h3 class="error_popup">Error message</h3>
                    <input class="attrib" name="id" id="test" type="hidden">
                    <input class="attrib" name="src" type="hidden">
                    <div class="input">
                        <label for="input_1" class="attrib" name="label_1">Test</label>
                        <input class="attrib" name="input_1">
                    </div>
                    <div class="input">
                        <label for="input_2"class="attrib" name="label_2">Test 2</label>
                        <input class="attrib" name="input_2">
                    </div>
                    <div class="input">
                        <label for="input_3"class="attrib" name="label_3">Test 2</label>
                        <input class="attrib" name="input_3">
                    </div>
                    <div class="input">
                        <label for="input_4"class="attrib" name="label_4">Test 2</label>
                        <input class="attrib" name="input_4">
                    </div>
                    <div class="btn_parent">
                        <div class="btn btn-input">
                            <input type="submit" name="submit" class="child attrib submit" id="login" value="Submit" />
                        </div>
                    </div>
                </form>
            </div>

            <!-- PALETTE POPUP -->
            <div id="palettePopup" class="popup">
                <div class="close"><i class="fas fa-times"></i></div>
                <h1 class="title attrib" name="title">Palette</h1>
                <form>
                    <h3 class="error_popup">Error message</h3>
                    <input class="attrib" name="id" id="test" type="hidden">
                    <input class="attrib" name="src" type="hidden">
                    <div class="input">
                        <label for="input_1" class="attrib" name="label_1">name</label>
                        <input class="attrib" name="input_1">
                    </div>
                    <div class="input">
                        <label for="input_2"class="attrib" name="label_2">Main color</label>
                        <input class="attrib" name="input_2">
                    </div>
                    <div class="input">
                        <label for="input_3"class="attrib" name="label_3">Secondary main color</label>
                        <input class="attrib" name="input_3">
                    </div>
                    <div class="input">
                        <label for="input_4"class="attrib" name="label_4">Font color dark</label>
                        <input class="attrib" name="input_4">
                    </div>
                    <div class="input">
                        <label for="input_5"class="attrib" name="label_5">Font color light</label>
                        <input class="attrib" name="input_5">
                    </div>
                    <div class="input">
                        <label for="input_6"class="attrib" name="label_6">Fill color</label>
                        <input class="attrib" name="input_6">
                    </div>
                    <div class="btn_parent">
                        <div class="btn btn-input">
                            <input type="submit" name="submit" class="child attrib submit" id="login" value="Submit" />
                        </div>
                    </div>
                </form>
            </div>



            <!-- REMOVE POPUP -->
            <div id="removePopup" class="popup">
                <div class="close"><i class="fas fa-times"></i></div>
                <h1 class="title attrib" name="title">Are you sure?</h1>
                <div class="file_upload_progress"></div>
                <form>
                    <input class="attrib" name="id" id="test" type="hidden">
                    <input class="attrib" name="src" type="hidden">
                    <h3 class="error_popup">Error message</h3>
                    <div class="btn_parent">
                        <div class="btn btn-input">
                            <input type="submit" name="submit" class="child attrib submit" id="login" value="Yes" />
                        </div>
                    </div>
                </form>
            </div>

            <div id="listPopup" class="popup">
                <div class="close"><i class="fas fa-times"></i></div>
                <h1 class="title attrib" name="title">Add item</h1>
                <div class="file_upload_progress"></div>
                <form>
                    <h3 class="error_popup">Error message</h3>
                    <input class="attrib" name="id" id="test" type="hidden">
                    <div class="input">
                        <label for="tag" class="attrib" name="file_label">File</label>
                        <select class="attrib listElements" name="tag">
                            <option>Select option</option>
                        </select>
                    </div>
                    <div class="btn_parent">
                        <div class="btn btn-input">
                            <input type="submit" name="submit" class="child attrib submit" id="login" value="Select" />
                        </div>
                    </div>
                </form>
            </div>

            <!-- VOTE POPUP -->
            <div id="uploadFilePopup" class="popup">
                <div class="close"><i class="fas fa-times"></i></div>
                <h1 class="title attrib" name="title">hello there!</h1>
                <form enctype="multipart/form-data">
                    <div id="file_progress"><div id="file_progress_bar"></div></div>
                    <h3 class="error_popup">Error message</h3>
                    <input class="attrib" name="id" id="test" type="hidden">
                    <input class="attrib" name="src" type="hidden">
                    <div class="input">
                        <label for="file" class="attrib" name="file_label">File</label>
                        <input type="file" class="attrib" name="file">
                    </div>
                    <div class="input">
                        <label for="name" class="attrib" name="name_label">Rename file</label>
                        <input class="attrib" name="name">
                    </div>
                    <div class="btn_parent">
                        <div class="btn btn-input">
                            <input type="submit" name="submit" class="child attrib submit" id="login" value="Upload" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <script>
            /*
            let menuPos = document.getElementsByClassName("dashboardMenu")[0];
            let items = document.getElementsByClassName("dashitem");
            let menuActive = document.getElementById("menuActive");
            menuActive.style.width = items[0].clientWidth + "px";
*/
            window.registerInfo =  function(item) {
                item.addEventListener("mouseenter",()=>
                {
                    infoBox.style.display="block";
                    infoBox.innerHTML = item.getAttribute("data-info");
                    let box = item.getBoundingClientRect();
                    let buttonWidth = box.right-box.left;
                    let infoBoxRect = infoBox.getBoundingClientRect();
                    let width = infoBoxRect.right-infoBoxRect.left;
                    let height = infoBoxRect.bottom-infoBoxRect.top;
                    //infoBox.style.transform =`translate(${box.left}px,${box.top}px)`;
                    infoBox.style.top = (box.top-height-15+window.pageYOffset) + "px";
                    infoBox.style.left = (box.left-width/2+buttonWidth/2) + "px";
                    clearTimeout(leave);
                    enter = setTimeout(()=>
                    {
                        infoBox.style.opacity="1";
                        infoBox.style.transform="translateY(0em)";
                    },20);

                },false);
                item.addEventListener("mouseleave",()=>
                {
                    infoBox.style.opacity="0";
                    infoBox.style.transform="translateY(-0.2em)";
                    clearTimeout(enter);
                    leave = setTimeout(()=>
                    {
                        infoBox.style.display="none";
                    },220);
                });
            }
            let infos = document.getElementsByClassName("info");
            let infoBox = document.getElementById("infoBox");
            let leave,enter;
            for(let i = 0; i < infos.length; i++)
            {
                let item = infos[i];
                window.registerInfo(item);
            }
            /*

            for(let i = 0; i < items.length; i++)
            {
                let item = items[i];
                item.addEventListener("click",()=>
                {
                    let rect = item.getBoundingClientRect();
                    menuActive.style.width = item.clientWidth + "px";
                    menuActive.style.left = (rect.left - menuPos.getBoundingClientRect().left) + "px";
                },false);
            }
            */
        </script>
        <script>
            window.tags = [<%- options.tags.map((val)=>`'${val.tag}'`) %>];
        </script>
        <script type="module" src="JS/dashboard/DashboardGM.js"></script>
    </body>
</html>
