<%
const listDownload = {
    icon:"fas fa-download",
    name: "Downloads",
    id:"ID",
    list: options.downloads,
    title: {key:"name"},
    attribs: [{key:"url",name:"url"}],
    editAttributes: 'class="far fa-edit btn-icon info popup-trigger" trigger="downloadPopup" popup-data="#download=src,<.id=id,#Edit Vote=title,#Name=label_1,#Url=label_2,<<>div>div>p=input_1,<<>div>div[2]>ul>li>span=input_2,#Edit=submit" data-info="Edit"',
    addAttributes: 'class="fas fa-plus popup-trigger info" data-info="New download" trigger="downloadPopup" popup-data="#download=src,#-1=id,#Add Download=title,#Title=label_1,#Url=label_1 #Name=input_1,#Url=input_2,#Add=submit"',
    deleteAttributes: 'class="fas fa-trash-alt btn-icon info popup-trigger remove" trigger="removePopup" popup-data="#download=src,<.id=id,#Are you sure?=title,#Yes remove it=submit" data-info="Remove"'
};

const listVotes = {
    icon:"fas fa-poll",
    name: "Votes",
    list: options.votes,
    id:"ID",
    title: {key:"name"},
    attribs: [{key:"url",name:"url"},{key:"nx",name:"nx"},{key:"time",name:"cooldown"}],
    editAttributes: 'class=" far fa-edit btn-icon info popup-trigger" trigger="votePopup" popup-data="#vote=src,<.id=id,#Edit Vote=title,#Name=label_1,#Url=label_2,#Nx=label_3,#Cooldown=label_4,<<>div>div>p=input_1,<<>div>div[2]>ul>li>span=input_2,<<>div>div[2]>ul>li[1]>span=input_3,<<>div>div[2]>ul>li[2]>span=input_4,#Edit=submit" data-info="Edit"',
    addAttributes: 'class="fas fa-plus popup-trigger info" data-info="New vote" trigger="votePopup" popup-data="#vote=src,#-1=id,#Add Vote=title,#Title=label_1,#Url=label_2,#Nx=label_3,#Cooldown=label_4,#Name=input_1,#Url=input_2,#1000=input_3,#0=input_4,#Add=submit"',
    deleteAttributes: 'class="fas fa-trash-alt btn-icon info popup-trigger remove" trigger="removePopup" popup-data="#vote=src,<.id=id,#Are you sure?=title,#Yes remove it=submit" data-info="Remove"'
};

%>

<!doctype html>
<html>
    <head>
        <title>Dashboard GM</title>
        <%- include('../imports/head') %>
        <link rel="stylesheet" type="text/css" href="../CSS/list.css">
        <link rel="stylesheet" type="text/css" href="../CSS/menu.css">
        <link rel="stylesheet" type="text/css" href="../CSS/dashboard.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    </head>
    <body>

        <div id="infoBox">Select palette</div>
        <div class="wrapper">
            <div class="dashboard_menu">
                <div id="logo"></div>
                <div class="user">
                    <div class="user_icon">
                    </div>
                    <h3>Welcome, <%= options.user.name %></h3>
                </div>
                <div class="sub_menu" id="dashboard_menu_id">
                    <div id="dahboard_bar"></div>
                    <ul>
                        <li page="statistics"><i class="fas fa-chart-pie"></i><span>Statistics</span></li>
                        <li page="contents"><i class="fas fa-box"></i><span>Contents</span></li>
                        <li page="designs"><i class="fas fa-paint-brush"></i><span>Designs</span></li>
                        <li page="layouts" id="btn"><i class="fas fa-bars"></i><span>Layouts</span></li>
                        <li page="logs"><i class="fas fa-clipboard-list"></i><span>Logs</span></li>
                        <li page="reports"><i class="fas fa-bug"></i></i><span>Reports</span></li>
                    </ul>
                </div>
            </div>
            <div class="contents">
                <div id="top_menu"></div>
                <div class="pages">
                    <!-- STATISTICS -->
                    <div id="statistics" class="contentPage">
                        <h1><i class="fas fa-chart-pie"></i>Statistics</h1>
                    </div>

                    <!-- DOWNLOAD -->
                    <div id="contents" class="contentPage containsSubPages">
                        <ul class="submenu">
                            <li page="downloads"><i class="fas fa-download"></i>Downloads</li>
                            <li page="votes"><i class="fas fa-poll"></i>Votes</li>
                        </ul>
                        <div class="subPages">
                            <div class="subPage" id="downloads">
                                <h1><i class="fas fa-download"></i>Downloads</h1>
                                <% if(options.downloads) %>
                                <%- include ('../panels/list.ejs', listDownload) %>
                            </div>
                            <div class="subPage" id="votes">
                                <h1><i class="fas fa-poll"></i>Votes</h1>
                                <% if(options.votes) %>
                                <%- include ('../panels/list.ejs', listVotes) %>
                            </div>
                        </div>
                    </div>


                    <!-- VOTE -->
                    <div id="vote" class="contentPage">
                        <h1><i class="fas fa-vote-yea"></i>Votes</h1>
                        <div class="btn-list">
                            <div class="btn_parent">
                                <div class="btn btn-span popup-trigger" trigger="votePopup" popup-data="
                                    #-1=id,
                                    #Add Vote=title,
                                    #Title=label_1,
                                    #Url=label_2,
                                    #Nx=label_3,
                                    #Cooldown=label_4
                                    #Name=input_1,
                                    #Url=input_2,
                                    #1000=input_3,
                                    #0=input_4,
                                    #Add=submit
                                    ">
                                    <span>Add new vote</span>
                                </div>
                            </div>
                        </div>
                        <div class="panels">
                            <%- include ('../panels/list.ejs', listVotes) %>
                        </div>
                    </div>

                    <!-- DESIGNS -->
                    <div id="designs" class="contentPage containsSubPages">
                        <ul class="submenu">
                            <li page="logoPage"><i class="fas fa-draw-polygon"></i>Logo</li>
                            <li page="templates"><i class="far fa-bookmark"></i>Templates</li>
                            <li page="images"><i class="far fa-images"></i>Images</li>
                        </ul>
                        <div class="subPages">
                            <div class="subPage" id="logoPage">
                                <h1><i class="fas fa-draw-polygon"></i>Logo</h1>
                            </div>
                            <div class="subPage" id="templates">
                                <h1><i class="far fa-bookmark"></i>Templates</h1>
                            </div>
                            <div class="subPage" id="images">
                                <h1><i class="far fa-images"></i>Images</h1>
                            </div>
                        </div>
                    </div>
                    <!-- LAYOUTS -->
                    <div id="layouts" class="contentPage">
                        <h1><i class="fas fa-bars"></i>Website Layouts</h1>
                    </div>
                    <!-- LOGS -->
                    <div id="logs" class="contentPage">
                        <h1><i class="fas fa-clipboard-list"></i>Logs</h1>
                    </div>
                    <!-- REPORTS -->
                    <div id="reports" class="contentPage">
                        <h1><i class="fas fa-bug"></i>Reports</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="popups">

            <!-- DOWNLOAD POPUP -->
            <div id="downloadPopup" class="popup">
                <div class="close"><i class="fas fa-times"></i></div>
                <h1 class="title attrib" name="title">hello there!</h1>
                <form>
                    <h3 class="error_popup">Error message</h3>
                    <input class="attrib" name="id" id="test" type="hidden">
                    <input class="attrib" name="src" type="hidden">
                    <div class="input">
                        <label for="label_1" class="attrib" name="label_1">Test</label>
                        <input class="attrib" name="input_1">
                    </div>
                    <div class="input">
                        <label for="label_2"class="attrib" name="label_2">Test 2</label>
                        <input class="attrib" name="input_2">
                    </div>
                    <div class="btn_parent">
                        <div class="btn btn-input">
                            <input type="submit" name="submit" class="child attrib submit" id="login" value="Submit" />
                        </div>
                    </div>
                </form>
            </div>

            <!-- VOTE POPUP -->
            <div id="votePopup" class="popup">
                <div class="close"><i class="fas fa-times"></i></div>
                <h1 class="title attrib" name="title">hello there!</h1>
                <form>
                    <h3 class="error_popup">Error message</h3>
                    <input class="attrib" name="id" id="test" type="hidden">
                    <input class="attrib" name="src" type="hidden">
                    <div class="input">
                        <label for="input_1" class="attrib" name="label_1">Test</label>
                        <input class="attrib" name="input_1">
                    </div>
                    <div class="input">
                        <label for="input_2"class="attrib" name="label_2">Test 2</label>
                        <input class="attrib" name="input_2">
                    </div>
                    <div class="input">
                        <label for="input_3"class="attrib" name="label_3">Test 2</label>
                        <input class="attrib" name="input_3">
                    </div>
                    <div class="input">
                        <label for="input_4"class="attrib" name="label_4">Test 2</label>
                        <input class="attrib" name="input_4">
                    </div>
                    <div class="btn_parent">
                        <div class="btn btn-input">
                            <input type="submit" name="submit" class="child attrib submit" id="login" value="Submit" />
                        </div>
                    </div>
                </form>
            </div>


            <!-- REMOVE POPUP -->
            <div id="removePopup" class="popup">
                <div class="close"><i class="fas fa-times"></i></div>
                <h1 class="title attrib" name="title">Are you sure?</h1>
                <form>
                    <input class="attrib" name="id" id="test" type="hidden">
                    <input class="attrib" name="src" type="hidden">
                    <h3 class="error_popup">Error message</h3>
                    <div class="btn_parent">
                        <div class="btn btn-input">
                            <input type="submit" name="submit" class="child attrib submit" id="login" value="Yes" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <script>
            /*
            let menuPos = document.getElementsByClassName("dashboardMenu")[0];
            let items = document.getElementsByClassName("dashitem");
            let menuActive = document.getElementById("menuActive");
            menuActive.style.width = items[0].clientWidth + "px";
*/
            let infos = document.getElementsByClassName("info");
            let infoBox = document.getElementById("infoBox");
            let leave,enter;
            for(let i = 0; i < infos.length; i++)
            {
                let item = infos[i];
                item.addEventListener("mouseenter",()=>
                {
                    infoBox.style.display="block";
                    infoBox.innerHTML = item.getAttribute("data-info");
                    let box = item.getBoundingClientRect();
                    let buttonWidth = box.right-box.left;
                    let infoBoxRect = infoBox.getBoundingClientRect();
                    let width = infoBoxRect.right-infoBoxRect.left;
                    let height = infoBoxRect.bottom-infoBoxRect.top;
                    //infoBox.style.transform =`translate(${box.left}px,${box.top}px)`;
                    infoBox.style.top = (box.top-height-15+window.pageYOffset) + "px";
                    infoBox.style.left = (box.left-width/2+buttonWidth/2) + "px";
                    clearTimeout(leave);
                    enter = setTimeout(()=>
                    {
                        infoBox.style.opacity="1";
                        infoBox.style.transform="translateY(0em)";
                    },20);

                },false);
                item.addEventListener("mouseleave",()=>
                {
                    infoBox.style.opacity="0";
                    infoBox.style.transform="translateY(-0.2em)";
                    clearTimeout(enter);
                    leave = setTimeout(()=>
                    {
                        infoBox.style.display="none";
                    },220);
                });
            }
            /*

            for(let i = 0; i < items.length; i++)
            {
                let item = items[i];
                item.addEventListener("click",()=>
                {
                    let rect = item.getBoundingClientRect();
                    menuActive.style.width = item.clientWidth + "px";
                    menuActive.style.left = (rect.left - menuPos.getBoundingClientRect().left) + "px";
                },false);
            }
            */
        </script>
        <script type="module" src="JS/dashboard/DashboardGM.js"></script>
    </body>
</html>
