<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="CSS/header.css">
        <link rel="stylesheet" type="text/css" href="CSS/menu.css">
        <link rel="stylesheet" type="text/css" href="CSS/index.css">
        <link rel="stylesheet" type="text/css" href="CSS/play.css">

        <%- include('../imports/head.ejs') %>
        <title>Play <%= settings.serverName %></title>
        <%- include('../imports/menu.ejs') %>
        <div class="maxWidth">
            <div class="page_header">
                <div class="page_header_bg" style="background:url(<%= heroImage %>) no-repeat; background-size:cover;"></div>
                <h1>Downloads</h1>
            </div>
            <section id="content" class="box_wrapper">
            <%
            if(options.downloads)
            for(let download of options.downloads)
            {
            %>
            <div class="box">
                <h3 class="box_title"><i class="fas fa-download"></i><%= download.name %></h3>
                <div class="sub_titles">
                    <h3 class="box_sub_title" data-before="Url"> <%= download.url %></h3>
                </div>
                <div class="btn_parent">
                    <div class="btn btn-a"><a href="<%= download.url %>"><span>Download <%= download.name %></span></a></div>
                </div>
            </div>
            <%

            }
            %>
            </section>
        </div>
    </body>
</html>
